#promotion-single-main.ps-block
    .ps-main-header
        .psm-header-title 促销项（共5条）
        .psm-header-new-button
            icon.add-icon
            p 新建促销项
        .clear
    table.psm-table
        thead
            tr
                th.psm-table-item 促销项
                th.psm-table-promotion 单品优惠
                th.psm-table-time 时间
                th.psm-table-foods 适用餐品
                th.psm-table-operations 操作
        tbody
            tr
                td 永久降价
                td 立减2元
                td 永久
                td 共20款餐品应用该促销项
                td 修改 停用 删除
            tr
                td
                td
                td
                td
                td
            tr
                td
                td
                td
                td
                td
            tr
                td
                td
                td
                td
                td

                
            