extends ../../layout

block mainHead
	block subTitle
	#combo-nav.head-nav
		.combo-nav-wrapper.nav-wrapper
			ul.combo-nav-container.nav-container
				a(href='/Manage/Menu/Combo/Single')
					li#Single 套餐
				a(href='/Manage/Menu/Combo/Subitem')
					li#Subitem 子项
				//a(href='/Manage/Menu/Combo/Shelves')
					li#Shelves 上架时间
				.clear
