extends index

block css
	include ../../../commonlib
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMarket/Member/Setting/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMarket/Member/Setting/base64.css')

block bottom
	script(src='/public/js/CanteenManageMarket/Member/Setting/main.js', type='text/javascript')
