extends index

block css
	script(src='/public/js/common/extra.min.js' type='text/javascript')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMarket/Member/Setting/main.min.css')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMarket/Member/Setting/base64.min.css')

block bottom
	script(src='/public/js/CanteenManageMarket/Member/Setting/main.min.js' type='text/javascript')
