extends ../index

block head
	script(src="/Manage/Market/Member/Setting/Data" type="text/javascript" async='async')
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	title Braeco
	block css

'''这里是主体'''
block content
	#json-field {"ladder":[{"name":"\u9ed1\u94c1","EXP":0,"discount":100},{"name":"\u9752\u94dc","EXP":100,"discount":85},{"name":"\u767d\u94f6","EXP":1000,"discount":70},{"name":"\u9ec4\u91d1","EXP":3000,"discount":60},{"name":"\u767d\u91d1","EXP":5000,"discount":50},{"name":"\u94bb\u77f3","EXP":8000,"discount":10}],"charge_ladder":[{"pay":50,"get":50,"EXP":500},{"pay":150,"get":150,"EXP":150},{"pay":450,"get":450,"EXP":450},{"pay":750,"get":750,"EXP":750},{"pay":950,"get":950,"EXP":950}],"cashEXP":5}
	#Setting
		#Setting-wrapper
			#level
				.level-wrapper
					#level-title
						.color-field
						p 等级折扣
					#level-modify-btn.btn
						p 修改
					#level-table
						table
							tr.table-title
								td 等级
								td 所需积分
								td 折扣
							tr.set-level
								td LV0.黑铁
								td 0
								td 100%（无折扣）
							tr.set-level
								td LV1.青铜
								td 1000
								td 95%（9.5折）
							tr.set-level
								td LV2.白银
								td 10000
								td 90%（9折）
							tr.set-level
								td LV3.黄金
								td 30000
								td 85%（8.5折）
							tr.set-level
								td LV4.白金
								td 50000
								td 80%（8折）
							tr.set-level
								td LV5.钻石
								td 80000
								td 75%（7.5折）
					span._tip-1 顾客每消费1元获得 10 积分
					span._tip-2 注意：会员折扣不会与任何单品优惠（立减、折扣、第二份半价）叠加
					.clear
			#recharge
				.recharge-wrapper
					#recharge-title
						.color-field
						p 充值项
					#recharge-modify-btn.btn
						p 修改
					#recharge-table
						table
							tr.table-title
								td 充值项目
								td 支付金额
								td 实际充值金额
								td 获得积分
							tr
								td 1
								td 50元
								td 55元
								td 0
							tr
								td 2
								td 100元
								td 120元
								td 0
							tr
								td 3
								td 200元
								td 250元
								td 0
							tr
								td 4
								td 300元
								td 400元
								td 0
							tr
								td 5
								td 500元
								td 650元
								td 0
							.clear
					.clear
			#modify-level
				#modify-title
					p 修改等级折扣
				#gift
					#levelInfo
						span 顾客每消费 1 元可获得
						input._tip-1-input
						span 积分
				#level-0
					#levelInfo
						p LV0.黑铁级
					#modifyInfo
						span 升级积分
						input._lv0-upgrade(disabled="disabled" value="0")
						span._discout 折扣
						input._lv0-discout(disabled="disabled" value="100")
						span._unit %
						span._tip-2-discout 无折扣
				#level-1
					#levelInfo
						p LV1.青铜级
					#modifyInfo
						span 升级积分
						input._lv1-upgrade
						span._discout 折扣
						input._lv1-discout
						span._unit %
						span._tip-2-discout
				#level-2
					#levelInfo
						p LV2.白银级
					#modifyInfo
						span 升级积分
						input._lv2-upgrade
						span._discout 折扣
						input._lv2-discout
						span._unit %
						span._tip-2-discout
				#level-3
					#levelInfo
						p LV3.黄金级
					#modifyInfo
						span 升级积分
						input._lv3-upgrade
						span._discout 折扣
						input._lv3-discout
						span._unit %
						span._tip-2-discout
				#level-4
					#levelInfo
						p LV4.白金级
					#modifyInfo
						span 升级积分
						input._lv4-upgrade
						span._discout 折扣
						input._lv4-discout
						span._unit %
						span._tip-2-discout
				#level-5
					#levelInfo
						p LV5.钻石级
					#modifyInfo
						span 升级积分
						input._lv5-upgrade
						span._discout 折扣
						input._lv5-discout
						span._unit %
						span._tip-2-discout
				#modifyChoose
					.canBtn.btn
						p 取消
					.finBtn.btn
						p 保存
			#modify-recharge
				#modify-title
					p 修改充值项
				#recharge-1
					#rechargeInfo
						p 充值项 1
					#modifyInfo
						span 充值金额
						input._re1
						span._unit 元
						span._real 实际充值金额
						input._re1-real
						span._unit 元
						span._gitf 获得积分
						input._gitf-input
				#recharge-2
					#rechargeInfo
						p 充值项 2
					#modifyInfo
						span 充值金额
						input._re2
						span._unit 元
						span._real 实际充值金额
						input._re2-real
						span._unit 元
						span._gitf 获得积分
						input._gitf-input
				#recharge-3
					#rechargeInfo
						p 充值项 3
					#modifyInfo
						span 充值金额
						input._re3
						span._unit 元
						span._real 实际充值金额
						input._re3-real
						span._unit 元
						span._gitf 获得积分
						input._gitf-input
				#recharge-4
					#rechargeInfo
						p 充值项 4
					#modifyInfo
						span 充值金额
						input._re4
						span._unit 元
						span._real 实际充值金额
						input._re4-real
						span._unit 元
						span._gitf 获得积分
						input._gitf-input
				#recharge-5
					#rechargeInfo
						p 充值项 5
					#modifyInfo
						span 充值金额
						input._re5
						span._unit 元
						span._real 实际充值金额
						input._re5-real
						span._unit 元
						span._gitf 获得积分
						input._gitf-input
				#modifyChoose
					.canBtn.btn
						p 取消
					.finBtn.btn
						p 保存