extends index

block css
  script(src='/public/js/common/extra.min.js')
  link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageData/Statistics/main.min.css')
  link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageData/Statistics/base64.min.css')
  link(rel='stylesheet' type='text/css' href='/public/css/specialCommon/datepicker.min.css')

block bottom
  script(src='/public/js/specialCommon/angular.min.js' type='text/javascript')
  script(src='/public/js/specialCommon/angular-resource.min.js' type='text/javascript')
  script(src='/public/js/specialCommon/datepicker.min.js' type='text/javascript')
  script(src='/public/js/specialCommon/datepicker.zh-CN.js' type='text/javascript')
  script(src='/public/js/specialCommon/Chart.bundle.min.js' type='text/javascript')
  script(src='/public/js/CanteenManageData/Statistics/main.min.js' type='text/javascript')