extends ../../layout

block mainHead
  p.title 根据统计数据，进行科学决策

block head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title 数据统计_杯口点餐-最贴心的餐饮管家
  block css

block content
  include statisticsMain
  include statisticsSpinner
