extends ../../layout

block mainHead
	p.title 零门槛发展会员，维护会员可提高回头率
	#Member-nav.head-nav
		.Member-nav-wrapper.nav-wrapper
			ul.Member-nav-container.nav-container
				a(href='/Manage/Market/Member/List')
					li#Basic 会员列表
				a(href='/Manage/Market/Member/Setting')
					li#Setting 会员设置
				.clear
