extends index

block css
	include ../../../commonlib
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMarket/Order/Presentation/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMarket/Order/Presentation/base64.css')

block bottom
	script(src='/public/js/CanteenManageMarket/Order/Presentation/main.js', type='text/javascript')
