#order-presentation-edit
    .op-container-content
        .content-header-block 修改规则
        .content-business-block
            span.block-description 适用业务
            .business-content
                span.checkbox-item.checked-checkbox-item
                    input(type="checkbox" checked)
                    span 堂食
                span.checkbox-item.checked-checkbox-item
                    input(type="checkbox" checked)
                    span 预订
                span.checkbox-item.checked-checkbox-item
                    input(type="checkbox" checked)
                    span 外卖
            .clear
        .content-ladder-block
            span.block-description 优惠阶梯
            .ladder-content
                
            .clear
            button.add-ladder-btn
                icon.add-icon
                span 新建阶梯
        .content-btn-block
            button.cancel-btn 取消
            button.save-btn 保存
