#full-cover
	.full-cover-wrapper
		.full-cover-container
			.popup.modify-field.total-center.hide
				.title-field
					.title-wrapper.parallel-container
						p.title 修改积分
						.close-field
							.close-btn
						.clear
					.content-field
						.content-wrapper.parallel-container
							.integral-field
								p 目前积分：
								p.modifyIntegral
							.level-field
								p 积分修改为
								input
						.clear
						.preview-field
							.preview-wrapper.parallel-container
								p.WechatName 微信昵称：
								p.phoneNumber 电话号码：
								p.memberID 会员ID：
								p.parent 目前余额：
					.btn-field
						.btn-wrapper
							.btn-container
								.cancel-btn.btn
									p 取消
								.confirm-btn.btn
									p 确定
								.clear
			.popup.recharge-field.total-center.hide
				.title-field
					.title-wrapper.parallel-container
						p.title 充值
						.close-field
							.close-btn
						.clear
					.content-field
						.content-wrapper.parallel-container
							.parentMoney-field
								p 目前余额：
								p.modifyIntegral
							.rechargeMoney-field
								p 充值金额
								input
						.clear
						.preview-field
							.preview-wrapper.parallel-container
								p.WechatName 微信昵称：
								p.phoneNumber 电话号码：
								p.memberID 会员ID：
								p.parent 目前积分：
					.btn-field
						.btn-wrapper
							.btn-container
								.cancel-btn.btn
									p 取消
								.confirm-btn.btn
									p 确定
								.clear