<!DOCTYPE html>
<html>

<head>
    <script src="/Table/Data" type="text/javascript" async="async"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Braeco</title>
    <script src="/public/version/public/js/common/util_dbcd503fb9.js" type="text/javascript"></script>
    <script src="/public/js/common/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/public/version/public/css/CanteenManage/main_4218ac3d11.css">
    <link rel="stylesheet" type="text/css" href="/public/version/public/css/CanteenManage/base64_fb0b831e9f.css">
</head>

<body>
    <div id="braeco">
        <div id="braeco-head-nav">
            <div class="nav-container">
                <div class="name-wrapper">
                    <div class="name-pic-field">
                        <div class="name-pic"></div>
                    </div>
                </div>
                <div class="account-wrapper">
                    <div class="account-container">
                        <div class="ac-name-field">
                            <a href="#">
                                <div class="logo-container">
                                    <div class="logo-pic"></div>
                                </div>
                                <p class="name">杯口咖啡</p>
                                <div class="arrow-container">
                                    <div class="arrow-pic"></div>
                                </div>
                                <div class="clear"></div>
                            </a>
                        </div>
                        <div class="ac-op-container">
                            <ul class="ac-op-list">
                                <a href="#">
                                    <li id="canteen-info-field">
                                        <div class="ac-op-field">
                                            <div id="canteen-info-icon" class="icon"></div>
                                            <p id="canteen-info">餐厅信息</p>
                                        </div>
                                    </li>
                                </a>
                                <a href="#">
                                    <li id="canteen-journal-field">
                                        <div class="ac-op-field">
                                            <div id="canteen-journal-icon" class="icon"></div>
                                            <p id="canteen-journal">餐厅日志</p>
                                        </div>
                                    </li>
                                </a>
                                <a href="#">
                                    <li id="modify-pass-field">
                                        <div class="ac-op-field">
                                            <div id="modify-pass-icon" class="icon"></div>
                                            <p id="modify-pass">修改密码</p>
                                        </div>
                                    </li>
                                </a>
                                <a href="#">
                                    <li id="sign-out-field">
                                        <div class="ac-op-field">
                                            <div id="sign-out-icon" class="icon"></div>
                                            <p id="sign-out">安全退出</p>
                                        </div>
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="braeco-main">
            <div id="main-wrapper">
                <div id="braeco-sidebar">
                    <div class="sidebar-wrapper">
                        <div class="config-menu">
                            <div class="config-menu-header menu-header a-link">
                                <a href="/Config">
                                    <icon class="config-icon-pic"></icon>
                                    <p class="header">配置向导</p>
                                </a>
                            </div>
                        </div>
                        <div class="braeco-manage-menu">
                            <div id="menu-manage" class="sub-menu">
                                <div class="sub-menu-header menu-header">
                                    <icon class="menu-icon-pic"></icon>
                                    <p class="header">菜单管理</p>
                                </div>
                                <ul class="sub-menu-content-list">
                                    <li id="Category-sub-menu" class="sub-menu-content a-link">
                                        <a href="/Menu/Category">
                                            <p class="sub-name">品类</p>
                                        </a>
                                    </li>
                                    <li id="Food-sub-menu" class="sub-menu-content a-link">
                                        <a href="/Menu/Food/Single">
                                            <p class="sub-name">单品</p>
                                        </a>
                                    </li>
                                    <li id="Combo-sub-menu" class="sub-menu-content a-link">
                                        <a href="#">
                                            <p class="sub-name">套餐</p>
                                        </a>
                                    </li>
                                    <li id="Mandatory-sub-menu" class="sub-menu-content a-link">
                                        <a href="#">
                                            <p class="sub-name">必选</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div id="market-manage" class="sub-menu">
                                <div class="sub-menu-header menu-header">
                                    <icon class="market-icon-pic"></icon>
                                    <p class="header">营销管理</p>
                                </div>
                                <ul class="sub-menu-content-list">
                                    <li id="Activity-sub-menu" class="sub-menu-content a-link">
                                        <a href="#">
                                            <p class="sub-name">活动发布</p>
                                        </a>
                                    </li>
                                    <li id="Mandatory-sub-menu" class="sub-menu-content a-link">
                                        <a href="#">
                                            <p class="sub-name">优惠促销工具</p>
                                        </a>
                                    </li>
                                    <li id="Discount-sub-menu" class="sub-menu-content a-link">
                                        <a href="#">
                                            <p class="sub-name">会员</p>
                                        </a>
                                    </li>
                                    <li id="Card-sub-menu" class="sub-menu-content a-link">
                                        <a href="#">
                                            <p class="sub-name">卡券</p>
                                        </a>
                                    </li>
                                    <li id="Col-Recommend-sub-menu" class="sub-menu-content a-link">
                                        <a href="#">
                                            <p class="sub-name">搭配推荐</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div id="data-manage" class="sub-menu">
                                <div class="sub-menu-header menu-header">
                                    <icon class="data-icon-pic"></icon>
                                    <p class="header">数据管理</p>
                                </div>
                                <ul class="sub-menu-content-list">
                                    <li id="Order-sub-menu" class="sub-menu-content a-link">
                                        <a href="#">
                                            <p class="sub-name">流水订单</p>
                                        </a>
                                    </li>
                                    <li id="Data-sub-menu" class="sub-menu-content a-link">
                                        <a href="#">
                                            <p class="sub-name">数据统计</p>
                                        </a>
                                    </li>
                                    <li id="Market-Analysis-sub-menu" class="sub-menu-content a-link">
                                        <a href="#">
                                            <p class="sub-name">营销分析</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div id="basic-business" class="sub-menu">
                                <div class="sub-menu-header menu-header">
                                    <icon class="business-icon-pic"></icon>
                                    <p class="header">基础业务</p>
                                </div>
                                <ul class="sub-menu-content-list">
                                    <li id="Hall-Order-sub-menu" class="sub-menu-content a-link">
                                        <a href="/Business/HallOrder/Basic">
                                            <p class="sub-name">堂食自主点餐</p>
                                        </a>
                                    </li>
                                    <li id="Outer-Order-sub-menu" class="sub-menu-content a-link">
                                        <a href="#">
                                            <p class="sub-name">预订外带</p>
                                        </a>
                                    </li>
                                    <li id="TakeAway-sub-menu" class="sub-menu-content a-link">
                                        <a href="#">
                                            <p class="sub-name">外卖</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div id="restaurant-settings" class="sub-menu">
                                <div class="sub-menu-header menu-header">
                                    <icon class="settings-icon-pic"></icon>
                                    <p class="header">餐厅设置</p>
                                </div>
                                <ul class="sub-menu-content-list">
                                    <li id="Staff-sub-menu" class="sub-menu-content a-link">
                                        <a href="#">
                                            <p class="sub-name">员工管理</p>
                                        </a>
                                    </li>
                                    <li id="Pay-sub-menu" class="sub-menu-content a-link">
                                        <a href="#">
                                            <p class="sub-name">支付渠道</p>
                                        </a>
                                    </li>
                                    <li id="Download-sub-menu" class="sub-menu-content a-link">
                                        <a href="#">
                                            <p class="sub-name">产品安装</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="braeco-mainbar">
                    <div class="mainbar-wrapper">
                        <div class="main-head-field">
                            <p class="title">仅需三步即可上线智慧餐厅</p>
                        </div>
                        <div id="config">
                            <div class="config-wrapper">
                                <div id="config-main">
                                    <div class="stepsPic steps-image"></div>
                                    <div id="steps">
                                        <div id="step1" class="btn">
                                            <div class="step1Pic step1-image"></div>
                                        </div>
                                        <div id="step2" class="btn">
                                            <div class="step2Pic step2-image"></div>
                                        </div>
                                        <div id="step3" class="btn">
                                            <div class="step3Pic step3-image"></div>
                                        </div>
                                    </div>
                                    <div id="step1Content">
                                        <div class="peopleManage">
                                            <div class="peoPic default-display-image"></div>
                                            <h5>员工管理 </h5>
                                            <p>管理不同员工，为其分配账号与角色权限</p>
                                        </div>
                                        <div class="productManage">
                                            <div class="proPic default-display-image"></div>
                                            <h5>产品安装</h5>
                                            <p>安装打印程序与手机APP，进一步提高效率</p>
                                        </div>
                                        <div class="paymentManage">
                                            <div class="payPic default-display-image"></div>
                                            <h5>支付渠道开通</h5>
                                            <p>开通微信支付等支付渠道</p>
                                        </div>
                                    </div>
                                    <div id="step2Content">
                                        <div class="canOrder">
                                            <div class="canPic default-display-image"></div>
                                            <h5>堂食自助点餐</h5>
                                            <p>顾客到店后扫码自助点餐，极大提高经营效率</p>
                                        </div>
                                        <div class="takeAway">
                                            <div class="takePic default-display-image"></div>
                                            <h5>预订外带</h5>
                                            <p>顾客远程点餐，按时到店可直接取餐外带</p>
                                        </div>
                                        <div class="takeDis">
                                            <div class="takeDisPic default-display-image"></div>
                                            <h5>外卖配送</h5>
                                            <p>顾客远程订单，餐厅负责送餐上门</p>
                                        </div>
                                    </div>
                                    <div id="step3Content">
                                        <div class="categoryPart">
                                            <div class="categoryPic default-display-image"></div>
                                            <h5>品类</h5>
                                            <p>将单品分为不同品类管理，提高菜单可读性</p>
                                        </div>
                                        <div class="singlePart">
                                            <div class="singlePartPic default-display-image"></div>
                                            <h5>单品</h5>
                                            <p>菜单最基本单位，丰富信息将吸引顾客下单</p>
                                        </div>
                                        <div class="packagePart">
                                            <div class="packagePartPic default-display-image"></div>
                                            <h5>套餐</h5>
                                            <p>添加基于单品的套餐组合，提高客单价</p>
                                        </div>
                                        <div class="mustPoint">
                                            <div class="mustPointPic default-display-image"></div>
                                            <h5>必点</h5>
                                            <p>编辑顾客必点的商品，比如茶位、纸巾</p>
                                        </div>
                                    </div>
                                    <div id="stepChoose">
                                        <div class="lastBtn btn">
                                            <p>上一步</p>
                                        </div>
                                        <div class="nextBtn btn">
                                            <p>下一步</p>
                                        </div>
                                        <div class="finBtn btn">
                                            <p>完成</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/version/public/js/common/util_dbcd503fb9.js" type="text/javascript"></script>
    <script src="/public/version/public/js/CanteenManage/main_6796ff7ac7.js" type="text/javascript"></script>
</body>

</html>