@import "../../common/common";
@import "./base64.less";


.analysis-fade-in {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

.analysis-fade-out {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.analysis-init {
  opacity: 0;
  visibility: hidden;
}
