extends index

block css
	include ../../../commonlib
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageData/Record/Order/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageData/Record/Order/base64.css')

block bottom
	script(src='/public/js/CanteenManageData/Record/Order/main.js' type='text/javascript')
