extends index

block css
	include ../../../commonlib
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageSettings/Business/Print/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageSettings/Business/Print/base64.css')

block bottom
	script(src='/public/js/CanteenManageSettings/Business/Print/main.js', type='text/javascript')
