extends ../index

block head
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	title Braeco
	block css

'''这里是主体'''
block content
	#print
		#print-wrapper
			#preview-field
				#btn-field
					.test-btn.btn
						p 下单测试
				#table-field
					table#Info
						tr.table-title
							th(width="17%") 打印机编号
							th(width="23%") 备注
							th(width="13%") 是否切单
							th(width="13%") 每单联数
							th(width="13%") 字号
							th(width="21%") 操作
						tr
							td 12345678
							td 一二三四五六七八九十
							td 否
							td 2联
							td 小
							td
								.setting-btn.btn
									.test-icon
									p 设置
								.switch-btn.btn
									.test-icon
									p 启用
						tr
							td 12345678
							td 一二三四五六七八九十
							td 是
							td 1联
							td 大
							td
								.setting-btn.btn
									.test-icon
									p 设置
								.switch-btn.btn
									.test-icon
									p 启用
						tr
							td 12345678
							td 一二三四五六七八九十
							td 是
							td 1联
							td 大
							td
								.setting-btn.btn
									.test-icon
									p 设置
								.switch-btn.btn
									.test-icon
									p 启用
						tr
							td 12345678
							td 一二三四五六七八九十
							td 是
							td 1联
							td 大
							td
								.setting-btn.btn
									.test-icon
									p 设置
								.switch-btn.btn
									.test-icon
									p 启用
			#modify-field
				#modify-title
					p 打印机设置
				#modify-content
					#printID
						span._content 打印机编号
						span._printID 12345678
					#printRemark
						span._content 备注
						input._printRemark
					#printCut
						span._content 是否切单
						select._printCut
							option 是
							option 否
					#printUnit
						span._content 每单联数
						select._printUnit
							option 1联
							option 2联
							option 3联
							option 4联
							option 5联
							option 6联
							option 7联
							option 8联
					#printFont
						span._content 字号
						select._printFont
							option 小
							option 大
					#printBranch
						span._content 分单设置