extends ../index

block head
	script(src="/Manage/Settings/Business/Print/Data" type="text/javascript" async='async')
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	title Braeco
	block css

'''这里是主体'''
block content
	#print
		#print-wrapper
			#preview-field
				#btn-field
					.test-btn.btn
						p 下单测试
				#table-field
					#Info
						.table-title
							.printerID.title-set 打印机编号
							.printerRemark.title-set 备注
							.printerSeparate.title-set 是否切单
							.printerPage.title-set 每单联数
							.printerSize.title-set 字号
							.setting.title-set 操作
							.clear
						.table-list
			#modify-field
				#modify-title
					p 打印机设置
				#modify-content
					#printID
						span._content 打印机编号
						span._printID 12345678
					#printRemark
						span._content 备注
						input._printRemark(maxlength = 12)
					#printCut
						span._content 是否切单
						select._printCut
							option(value = "true") 是
							option(value = "false") 否
					#printUnit
						span._content 每单联数
						select._printUnit
							option(value = 1) 1联
							option(value = 2) 2联
							option(value = 3) 3联
							option(value = 4) 4联
							option(value = 5) 5联
							option(value = 6) 6联
							option(value = 7) 7联
							option(value = 8) 8联
					#printFont
						span._content 字号
						select._printFont
							option(value = 0) 小
							option(value = 1) 大
					#printBranch
						span._content 分单设置
						p._branchTip 请选择允许分单打印的餐品
						#categories-containter
							#categories-choose
								ul.allChoose
									li.shown-item._all 全选
										.checkbox-icon.true
											input(type="checkbox" checked="true")
					#printTable
						span._content 桌位设置
						p._tableTip 请选择允许分单打印的桌位
						#tables-containter
							#tables-choose
								ul.allChoose
									li.shown-item._all 全选
										.checkbox-icon.true
											input(type="checkbox" checked="true")
				#modify-btn-field
					.cancel-btn.btn
						p 取消
					.save-btn.btn
						p 保存
					.stop-confirm.stop-confirm-image
						p.confirm-ask 尚未保存，确认离开？
						#confirm-btn-field
							.confirm-cancel-btn.btn
								p 离开
							.confirm-btn.btn
								p 暂不
					.clear
				.clear
			.clear
