@import "../main";
#food {
    .food-wrapper {
        width: 90%;
        margin: 0 auto;
        .f-block {
            margin-top: 25px;
        }
        #food-single-main {
        	p {
        		line-height: 30px;
        	}
        	.select-container {
        		margin-top: 5px;
        		select {
        			width: 200px;
        			font-size: 20px;
        		}
        	}
        }
    }
}