#full-cover
    .full-cover-wrapper
        .full-cover-container
            .reset-password-block.total-center
                 .reset-block-header
                     p 修改密码
                     .close-btn
                     .clear
                 .reset-block-content
                     .input-field
                         p 输入新密码 *
                         input(type="password" name="password")
                     .input-field
                         p 确认密码 *
                         input(type="password" name="comfirm-password")
                 .btn-container
                     button.cancel-btn 取消
                     button.save-btn 确定