#staff-account-edit
    .block-header 修改员工
    .staff-form
        p.form-description 带 * 号的为必填项
        .input-field
             p 员工名字 *
             input(type="text" name="name")
        .input-field
            p 性别 *
            select(name="gender")
                option(value="男") 男
                option(value="女") 女
        .input-field
            p 手机 *
            input(type="text" name="phone" readOnly)
        .input-field
            p 修改密码 *
            input(type="password" name="password")
            //- button.reset-password-btn 重置密码
        .input-field
            p 角色 *
            select(name="role")
                option(value="default") 请选择角色
            button.manage-permission-btn 管理权限
        .error-message-block
    .btn-container
         button.cancel-btn 取消
         button.save-btn 保存