extends index

block css
	link(rel='stylesheet' type='text/css' href='/public/css/DinnerManage/main.css')

block js
	script(src='/public/js/common/util.js', type='text/javascript')
	script(src='/public/js/DinnerManage/main.js', type='text/javascript')