@import "../main";

input {
	margin: 0 5px 0 10px;
}

#runBusiness,
#stopBusiness {
	margin: 20px 30px 20px 30px;
	font-size: 14px;
	font-style: Arial;
	font-weight: bold;
	overflow: hidden;
}

#previewBusiness {
	span {
		margin: 0 0 0 30px;
	}
	color: #333333;
	#modifyTime,
	#modifyPay,
	#modifyMeal {
		border: solid;
	    border-color: #333333;
	    border-width: 1px 0 1px 0;
		margin: -1px 30px 0px 30px;
		width: 650px;
		p {
			margin: 10px 0 0 20px;
			font-size: 14px;
		}
	}
	#modifyTime {
		height: 70px;
	}
	#modifyMeal, 
	#modifyChoose,
	#modifyPay {
		height: 40px;
	}
}

#modifyBusiness {
	display: none;
	#modifySetting,
	#modifyTime,
	#modifyPay,
	#modifyMeal {
		border: solid;
	    border-color: #797979;
	    border-width: 1px;
		margin: -1px 30px 0px 30px;
		width: 650px;
		p {
			margin-left: 20px;
			margin-top: 10px;
			font-size: 14px;
		}
	}
	#modifyTime {
		height: auto;
		overflow: hidden;
	}
	#modifyMeal,
	#modifyChoose,
	#modifyPay {
		height: 40px;
	}
}

#modifyChoose {
	border: solid;
    border-color: #797979;
    border-width: 1px;
	margin: -1px 30px 0px 30px;
	width: 650px;
}

#modifySetting {
	height: 40px;
	background-color: #F4F5F9;
}

.canBtn,
.finBtn {
	background-color: #F3F3F3;
    border-style: solid;
    border-color: #797979;
    border-width: 1px;
    color: black;
    padding: 0 35px 0 35px;
    font-size: 13px;
    height: 22px;
    line-height: 22px;
    margin: 8px 0 0 20px;
}

select {
	margin-left: 10px;
	width: 200px;
}

#modifyForBus {
	position: relative;
	left: 120px;
	bottom: 44px;
	color: blue;
	font-size: 14px;
	font-style: Arial;
	font-weight: bold;
}

#timer {
	position: relative;
	font-size: 14px;
	bottom: 20px;
	left: 90px;
}

.modifyDelTime {
	position: relative;
	left: 290px;
	bottom: 48px;
	color: blue;
	font-size: 14px;
	font-style: Arial;
	font-weight: bold;
}

.modifyAddTime {
	position: relative;
	left: 18px;
	bottom: 20px;
	color: blue;
	font-size: 14px;
	font-style: Arial;
	font-weight: bold;
}

#hel {
	position: relative;
	left: -8px;
}