extends index

block css
	include ../../commonlib
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageExtra/Log/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageExtra/Log/base64.css')
	link(rel='stylesheet' type='text/css' href='/public/css/specialCommon/datepicker.min.css')


block bottom
	script(src='/public/js/specialCommon/datepicker.min.js', type='text/javascript')
	script(src='/public/js/CanteenManageExtra/Log/main.js', type='text/javascript')
