extends ../../layout

block mainHead
	p.title 查看敏感操作日志-杯口点餐

block head
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	title 餐厅日志_杯口点餐-最贴心的餐饮管家
	block css

'''这里是主体'''
block content
	block data
	block pageData
	.mycenter
		.top
			span.mypicker
				input.time(type='text' name='st' placeholder='开始时间')
				span.datepicker_img
			span.dao 到
			span.mypicker
				input.time(type='text' name='en' placeholder='结束时间')
				span.datepicker_img
			.mybtn#search 
			select(name='type')
				option(value='all') 所有
				option(value='waiter') 店员管理
				option(value='member') 会员管理
				option(value='dctool') 订单优惠管理
				option(value='basicinfo') 餐厅信息管理
				option(value='order') 订单管理
		.center
			table.ro-container-table
				thead
					th.short 操作时间
					th.short 操作者
					th 动作
					th.short 动作类别
				tbody
					tr
						td 2016-03-07 17:57:27
						td 店长
						td 将会员 于德强(15626473390) 的积分设置为120790(之前为120790)
						td 会员修改
			#page
				a.left(href='')
				.page_text <span>1</span>/<span>1</span>
				a.right(href='')
				.page_input
					input(type='text' name='jump')
				.page_jump 跳转
block bottom