extends ../layout

block title
	p.title 仅需三步即可上线智慧餐厅

block head
	script(src="/Table/Data" type="text/javascript" async='async')
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	title Braeco
	block css

'''这里是主体'''
block content
	

