extends ../layout

block mainHead
	p.title 仅需三步即可上线智慧餐厅

block head
	script(src="/Table/Data" type="text/javascript" async='async')
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	title Braeco
	block css

'''这里是主体'''
block content
	div#choose
		div#step1
			div.rectangle 第一步:餐厅设置
			div.triangle_border_right
				span
		div#step2
			div.rectangle 第二步:基础业务
			div.triangle_border_right
				span
		div#step3
			div.rectangle 第三步:菜单管理
	div#stepContent
		div.peopleManage
			div.peoPic 
			p 员工管理 
			p 管理不同员工，为其分配账号与角色权限
		div.productManage
			div.proPic 
			p 产品安装
			p 安装打印程序与手机APP，进一步提高效率
		div.paymentManage
			div.payPic
			p 支付渠道开通
			p 开通微信支付等支付渠道
	div#stepChoose
		div.nextBtn.btn 下一步
		div.lastBtn.btn 上一步
		div.finBtn.btn 完成
