extends ../layout

block title
	p.title 仅需三步即可上线智慧餐厅

block head
	script(src="/Table/Data" type="text/javascript" async='async')
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	title Braeco
	block css

'''这里是主体'''
block content
	div.choose
		div.step1
			div#rectangle 第一步:餐厅设置
			div#triangle_border_right
				span
		div.step2
			div#rectangle 第二步:基础业务
			div#triangle_border_right
				span
		div.step3
			div#rectangle 第三步:菜单管理