extends index

block css
	include ../../../commonlib
	link(rel='stylesheet' type='text/css' href='/public/css/specialCommon/datepicker.min.css')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMarket/Coupon/Basic/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMarket/Coupon/Basic/base64.css')

block bottom
	script(src='/public/js/specialCommon/datepicker.min.js' type='text/javascript')
	script(src='/public/js/CanteenManageMarket/Coupon/Basic/main.js', type='text/javascript')

block data
	#json-field [{"couponid":"100001","status":"0","cost":"50","cost_reduce":"5","max":"2","max_use":"1","indate":"2016-06-312016-07-31","remain":"99","daily":"1","fun":{"0":"1","1":"0","2":"0"},"pay":"0","quantity":"100000"},{"couponid":"100002","status":"0","cost":"50","cost_reduce":"5","max":"2","max_use":"1","indate":"7","remain":"9","daily":"1","fun":{"0":"1","1":"1","2":"1"},"pay":"0","quantity":"100"},{"couponid":"100003","status":"2","cost":"50","cost_reduce":"5","max":"2","max_use":"1","indate":"2016-06-312016-07-31","remain":"999","daily":"1","fun":{"0":"1","1":"1","2":"1"},"pay":"1","quantity":"10"},{"couponid":"100004","status":"1","cost":"50","cost_reduce":"5","max":"2","max_use":"1","indate":"7","remain":"9999","daily":"1","fun":{"0":"1","1":"1","2":"1"},"pay":"0","quantity":"1000"},{"couponid":"100005","status":"0","cost":"50","cost_reduce":"5","max":"2","max_use":"1","indate":"7","remain":"19","daily":"0","fun":{"0":"0","1":"1","2":"0"},"pay":"1","quantity":"100000"},{"couponid":"100006","status":"1","cost":"50","cost_reduce":"5","max":"2","max_use":"1","indate":"2016-06-312016-07-31","remain":"2","daily":"1","fun":{"0":"0","1":"1","2":"1"},"pay":"0","quantity":"100000"},{"couponid":"100007","status":"1","cost":"50","cost_reduce":"5","max":"2","max_use":"1","indate":"7","remain":"0","daily":"1","fun":{"0":"1","1":"1","2":"1"},"pay":"0","quantity":"100000"},{"couponid":"100008","status":"0","cost":"50","cost_reduce":"5","max":"2","max_use":"1","indate":"7","remain":"9999","daily":"0","fun":{"0":"1","1":"0","2":"1"},"pay":"1","quantity":"100000"}]
