extends ../index

block head
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	title Braeco
	block css

'''这里是主体'''
block content
	include newCoupon
	include detailCoupon
	block data
	#Coupon
		.Coupon-wrapper
			#global_message
			#new-coupon
				.new-btn.btn.plus-img
					p 新建代金券
			#run-coupon
				#run-title
					.color-field
					p 运营中
				#run-content-field
			#page-select._up
				.jump-btn.btn 跳转
				#jump-input
					input._jump-input(type = "number" min = 1)
				.nextPage.btn
					.next-btn-image
				.page 1/1
				.lastPage.btn
					.last-btn-image
				.clear
			#pass-coupon
				#pass-title
					.color-field
					p 已过期
				#pass-content-field
			#page-select._down
				.jump-btn.btn 跳转
				#jump-input
					input._jump-input(type = "number" min = 1)
				.nextPage.btn
					.next-btn-image
				.page 1/1
				.lastPage.btn
					.last-btn-image
				.clear