extends ../index

block head
	script(src="/Manage/Market/Coupon/Data" type="text/javascript" async='async')
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	title Braeco
	block css

'''这里是主体'''
block content
	include newCoupon
	include detailCoupon
	block data
	#Coupon
		.Coupon-wrapper
			#new-coupon
				.new-btn.btn
					p + 新建代金券
			#run-coupon
				#run-title
					.color-field
					p 运营中
				#run-content-field
			#pass-coupon
				#pass-title
					.color-field
					p 已过期
				#pass-content-field