#newCoupon
	.newCoupon-wrapper
		#global_message
		#left-field
			#preview-field
				.preview-background.coupon-image
				.pre-face-value
					span.pre-face-value-unit ￥
					span._pre-face-value
				.pre-condition
					span.pre-condition-fore 满 
					span.pre-condition-unit ￥
					span.pre-condition-value
					span.pre-condition-back  可用
				.pre-rule
					.tip-1
						span.tip-1-content 1. 本券仅在：杯口餐厅 使用;
					.tip-2
						span.tip-2-content 2. 每个微信号限领取 张代金券；
					.tip-3
						span.tip-3-content 3. 订单消费满 ￥ 可用，最多可同时使用 张。
			#preview-bottom
				p 代金券预览
		#right-field
			#up-field
				._required 带 * 号的为必填项
				#face-value
					span._content 面值 *
					.face-value-input
						input._face-value.check-input(maxlength = "6")
						span._unit 元
				#valid-period
					span._content 有效期 *
					select._valid-period
						option(value = "0") 日期区间
						option(value = "1") 有效天数
				#date-period
					span._content 日期区间 *
					._date-period
						.date-period-start.mydatepicker
							input._date-period-start
							span.datepicker-img
						span._zhi 至
						.date-period-end.mydatepicker
							input._date-period-end
							span.datepicker-img
						.clear
					p._date-period-tip 有效期： 至 
				#valid-day
					span._content 有效天数 *
					.valid-day-input
						input._valid-day.check-input(maxlength = "6" value = "1")
						span._unit 天
					p.valid-day-input-tip 领取后 天有效，过期无效
				#use-condition
					span._content 使用门槛 *
					.use-condition-input
						span 消费满
						input._use-condition.check-input(maxlength = "7")
						span._unit 元
						span 可用
			#down-field
				#distribute-coupon
					span._content 自动发券 *
					select._distribute-coupon
						option(value = "0") 顾客点餐前发券
						option(value = "1") 顾客支付下单后发券
				#meal-ticket
					span._content
					.meal-ticket-input
						span 消费满
						input._meal-ticket.check-input(maxlength = "7" value = "1")
						span._unit 元
						span 领券
				#max-coupon
					span._content 发放上限 *
					.max-coupon-input
						input._max-coupon.check-input(placeholder='发放的卡券总数' maxlength = "10")
						span._unit 张
				#max-own-select
					span._content 领取上限 *
					select._max-own-select
						option(value = "0") 整个有效期内每人限领
						option(value = "1") 有效期内每人每天限领
				#max-own
					span._content
					#max-own-input
						input._max-own.check-input(maxlength = "10")
						span._unit 张
				#apply-area
					span._content 适用业务 *
					.apply._first.true
						input._fun1(type = "checkbox" checked = "checked")
						span 堂食
					.apply.true
						input._fun2(type = "checkbox" checked = "checked")
						span 预订
					.apply.true
						input._fun3(type = "checkbox" checked = "checked")
						span 外卖
					.apply.true
						input._fun4(type = "checkbox" checked = "checked")
						span 外带
				#multiple-use
					span._content 叠加使用 *
					.multiple-use-input
						input._multiple-use.check-input(value='1' disabled='true' maxlength = "10")
						span._unit 张
					p.multiple-use-tip 每笔订单最多可同时叠加使用 张
			#btn-filed
				.confirm-mask
				.cancel-btn.btn
					p 取消
				.save-btn.btn
					p 保存
				.stop-confirm.stop-confirm-image
					p.confirm-ask 尚未保存，确认离开？
					#confirm-btn-field
						.confirm-cancel-btn.btn
							p 离开
						.confirm-btn.btn
							p 暂不