extends index

block css
	include ../../../commonlib
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMenu/Combo/Single/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMenu/Combo/Single/base64.css')

block bottom
	script(src='/public/js/specialCommon/eventemitter2.js', type='text/javascript')
	script(src='/public/js/CanteenManageMenu/Combo/Single/main.js', type='text/javascript')
