extends index

block css
	include ../../../commonlib
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageSettings/Staff/Role/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageSettings/Staff/Role/base64.css')

block bottom
	script(src='/public/js/CanteenManageSettings/Staff/Role/main.js' type='text/javascript')
