#staff-role-main
    .sr-container-header
        button.new-btn
            icon.add-icon
            |新建角色
    table.sr-container-table
        thead
            tr
                th.name-column 角色
                th.type-column 类型
                th.permission-column 权限
                th.method-column 操作
        tbody
            