#staff-role-new
    .block-header 新建角色
    .role-form
        p.form-description 带 * 号的为必填项
        .input-field
            p 角色名称 *
            input(type="text" name="name")
            .clear
        .input-field
            p.role-permission-context 角色权限 *
            .permission-block
                ul.permission-list
                    li.checkbox-item
                        input(type="checkbox")
                        p 菜单管理
                        .clear
                    li.checkbox-item
                        input(type="checkbox")
                        p 营销管理
                        .clear
                        ul
                            li.checkbox-item
                                input(type="checkbox")
                                p 活动发布
                            li.checkbox-item
                                input(type="checkbox")
                                p 促销工具
                            li.checkbox-item
                                input(type="checkbox")
                                p 会员
                            li.checkbox-item
                                input(type="checkbox")
                                p 卡券
                            li.checkbox-item
                                input(type="checkbox")
                                p 搭配推荐
                    li.checkbox-item
                        input(type="checkbox")
                        p 数据管理
                        .clear
                        ul
                            li.checkbox-item
                                input(type="checkbox")
                                p 流水订单
                            li.checkbox-item
                                input(type="checkbox")
                                p 数据统计
                            li.checkbox-item
                                input(type="checkbox")
                                p 营销分析
                    li.checkbox-item
                        input(type="checkbox")
                        p 基础业务
                        .clear
                        ul
                            li.checkbox-item
                                input(type="checkbox")
                                p 堂食自助点餐
                            li.checkbox-item
                                input(type="checkbox")
                                p 预定外带
                            li.checkbox-item
                                input(type="checkbox")
                                p 外卖
                    li.checkbox-item
                        input(type="checkbox")
                        p 日常经营
                        .clear
                        ul
                            li.checkbox-item
                                input(type="checkbox")
                                p 按单处理
                            li.checkbox-item
                                input(type="checkbox")
                                p 辅助点餐
                            li.checkbox-item
                                input(type="checkbox")
                                p 会员充值
                            li.checkbox-item
                                input(type="checkbox")
                                p 修改积分
                            li.checkbox-item
                                input(type="checkbox")
                                p 退款
            .clear
    .btn-container
        button.cancel-btn 取消
        button.save-btn 保存