extends ../index

block head
	script(src="/Manage/Business/HallOrder/Basic/Data" type="text/javascript" async='async')
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	title Braeco
	block css



'''这里是主体'''
block content
	include basicMain
	#business
		#stopBusiness
			input(type = "radio" name = "select" value = "stop" checked = "checked")
			span 暂停业务
		#runBusiness
			input(type = "radio" name = "select" value = "run")
			span 运营业务
		#modifyForBus.btn 修改
		#previewBusiness
			#modifyTime
				p(id = "hel") 接单日期
					span(id = "showDay")
				p 接单时段
					span(id = "showTime")
			#modifyPay
				p 支付渠道
					span(id = "showPay")
			#modifyMeal
				p 适用餐品
					span(id = "showCan")
		#modifyBusiness
			form(id = "myForm")
				#modifySetting
					p 修改设置
				#modifyTime
					p 接单日期
						input(type = "checkbox" checked = "checked")
						span 周一
						input(type = "checkbox" checked = "checked")
						span 周二
						input(type = "checkbox" checked = "checked")
						span 周三
						input(type = "checkbox" checked = "checked")
						span 周四
						input(type = "checkbox" checked = "checked")
						span 周五
						input(type = "checkbox" checked = "checked")
						span 周六
						input(type = "checkbox" checked = "checked")
						span 周日
					p 接单时段
						#timerAll
							#timerDiv
								#timer
									span  从
									input(type = "time")
									span  至
									input(type = "time")
								.modifyDelTime.btn 删除
							#timerDiv
								#timer
									span  从
									input(type = "time")
									span  至
									input(type = "time")
								.modifyDelTime.btn 删除
					.modifyAddTime.btn 添加
				#modifyPay
					p 支付渠道
						input(type = "checkbox" checked = "checked")
						span 现金支付
						input(type = "checkbox" checked = "checked")
						span 支付宝
						input(type = "checkbox" checked = "checked")
						span 微信支付
						input(type = "checkbox" checked = "checked")
						span 百度钱包
				#modifyMeal
					p 适用餐品
						select(id = "selNum")
							option 全选
							option 其他一
							option 其他二
				#modifyChoose
					.canBtn.btn
						p 取消
					.finBtn.btn
						p 保存