extends ../../layout

block mainHead
	p.title 业务设置
	#Business-nav.head-nav
		.Business-nav-wrapper.nav-wrapper
			ul.Business-nav-container.nav-container
				a(href='/Manage/Settings/Business/Basic')
					li#Basic 业务设置
				a(href='/Manage/Settings/Business/Table')
					li#Table 桌位管理
				a(href='/Manage/Settings/Business/Print')
					li#Print 分单打印
				.clear
