@import "../../../common/common";
@import "base64";
#business {
    *:focus {
        outline: none;
    }
    .business-wrapper {
        padding: 30px;
        font-size: 14px;
        #basic-main {
            .business-content {
                &:not(:first-child) {
                    margin-top: 30px;
                }
                .business-title {
                    p {
                        border-left:  4px solid #ffc107;
                        padding-left: 8px;
                    }
                }
                .business-header {
                    position: relative;
                    margin-top: 20px;
                    .business-start-btn {
                        width: 127px;
                        height: 32px;
                        color: #ffffff;
                        border: none;
                        background-color: #ffffff;
                        background-size: 127px 32px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    .business-start-btn-able {
                        background-image: url(@business-start-able-image-url);
                    }
                    .business-start-btn-disable {
                        color: #4A4A4A;
                        background-image: url(@business-start-disable-image-url);
                        &:hover {
                            background-image: url(@business-start-able-hover-image-url);
                        }
                    }
                    .business-stop-btn {
                        width: 127px;
                        height: 32px;
                        border: none;
                        margin-left: -5px;
                        background-color: #ffffff;
                        background-size: 127px 32px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    .business-stop-btn-able {
                        background-image: url(@business-stop-able-image-url);
                        &:hover {
                            background-image: url(@business-stop-able-hover-image-url);
                        }
                    }
                    .business-stop-btn-disable {
                        color: #ffffff;
                        background-image: url(@business-stop-disable-image-url);
                    }
                    .edit-btn {
                        cursor: pointer;
                        float: right;
                        width: 96px;
                        height: 32px;
                        border: none;
                        border-radius: 5px;
                        background-color: #ffffff;
                        border: 1px solid #e7e7eb;
                        &:hover {
                            background-color: #F4F5F9;
                        }
                        &:focus {
                            background-color: #F4F5F9;
                        }
                    }
                    .alert-block {
                        display: none;
                        position: absolute;
                        width: 340px;
                        height: 169px;
                        background-image: url(@alert-block-image-url);
                        background-size: 340px 169px;
                        background-repeat: no-repeat;
                        background-position: center;
                        .alert-information {
                            margin-top: 45px;
                            text-align: center;
                        }
                        .btn-block {
                            margin-top: 28px;
                            text-align: center;
                        }
                        button {
                            width: 110px;
                            height: 32px;
                            border-radius: 5px;
                            margin: 0px 10px;
                        }
                        .cancel-btn {
                            cursor: pointer;
                            background-color: #ffffff;
                            border: none;
                            border: 1px solid #e7e7eb;
                            &:hover {
                                background-color: #F4F5F9;
                            }
                            &:focus {
                                background-color: #F4F5F9;
                            }
                        }
                        .comfirm-btn {
                            cursor: pointer;
                            background-color: #ffc107;
                            border: none;
                            color: #ffffff;
                            &:hover {
                                background-color: #ffb300;
                            }
                            &:focus {
                                background-color: #ffb300;
                            }
                        }
                    }
                }
                .business-block {
                    width: 100%;
                    margin-top: 20px;
                    .business-block-header {
                        background-color: #f4f5f9;
                        color: #4A4A4A;
                        border: 1px solid #E7E7EB;
                        padding: 18px 0px 15px 30px;
                    }
                    .business-block-content {
                        padding: 30px;
                        border-left: 1px solid #E7E7E8;
                        border-right: 1px solid #E7E7E8;
                        border-bottom: 1px solid #E7E7E8;
                        > div {
                            margin-bottom: 20px;
                            .block-description {
                                float: left;
                            }
                            .business-content {
                                margin-left: 35px;
                            }
                        }
                        > div:last-child {
                            margin-bottom: 0;
                        }
                    }
                    .business-common-block {
                        float: left;
                        padding: 30px;
                        box-sizing: border-box;
                        border-bottom: 1px solid #e7e7eb;
                        border-right: 1px solid #e7e7eb;
                        .block-content {
                            height: 66px;
                            margin-top: 20px;
                            margin-bottom: 30px;
                            .content-context {
                                float: left;
                                font-size: 14px;
                                margin-bottom: 15px;
                                color: #9b9b9b;
                            }
                            .content-link {
                                float: left;
                                font-size: 14px;
                                color: #3596ec;
                            }
                        }
                        .block-btn {
                            width: 127px;
                            height: 32px;
                            border-radius: 5px;
                            border: 1px solid #e7e7eb;
                            background-color: #ffffff;
                            &:focus {
                                outline: none;
                            }
                            &:hover {
                                background-color: #F4F5F9;
                            }
                        }
                    }
                    .qrcode-block {
                        border-left: 1px solid #e7e7eb;
                        width: 354px;
                        .qrcode-container {
                            float: left;
                            width: 66px;
                            height: 66px;
                            margin-right: 20px;
                            border: none;
                            background-image: url(@default-qrcode-img-url);
                            background-size: 66px 66px;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                    .link-block {
                        width: 355px;
                    }
                }
            }
        }
        #basic-edit {
            margin: 30px 0;
            .block-header {
                background-color: #f4f5f9;
                color: #4a4a4a;
                border: 1px solid #E7E7EB;
                padding-top: 16px;
                padding-bottom: 16px;
                padding-left: 30px;
            }
            .role-form {
                padding: 32px;
                border-left: 1px solid #E7E7E7;
                border-right: 1px solid #E7E7E7;
                border-bottom: 1px solid #E7E7E7;
            }
            .btn-container {
                padding: 20px 30px;
                border-left: 1px solid #e7e7eb;
                border-right: 1px solid #e7e7eb;
                border-bottom: 1px solid #e7e7eb;
                .cancel-btn {
                    cursor: pointer;
                    background: #ffffff;
                    margin-right: 30px;
                    border: 1px solid #e7e7eb;
                    border-radius: 5px;
                    width: 118px;
                    height: 32px;
                    &:hover {
                        background-color: #F4F5F9;
                    }
                    &:focus {
                        background-color: #F4F5F9;
                    }
                }
                .save-btn {
                    cursor: pointer;
                    color: #ffffff;
                    background: #ffc107;
                    border: none;
                    border-radius: 5px;
                    width: 120px;
                    height: 32px;
                    &:hover {
                        background-color: #ffb300;
                    }
                    &:focus {
                        background-color: #ffb300;
                    }
                }
                .save-btn-disable {
                    background-color: rgba(255, 193, 7, 0.5);
                }
            }
        }
    }
}