@import "../../../common/common";
#print {
    #print-wrapper {
        font-family: Hiragino Sans GB, Microsoft Yahei, sans-serif;
        font-size: 14px;
        width: 712px;
        #preview-field {
            #btn-field {
                height: 32px;
                .test-btn {
                    margin-top: 30px;
                    float: right;
                    text-align: center;
                    height: 32px;
                    width: 96px;
                    border: 1px solid #E7E7EB;
                    border-radius: 5px;
                }
            }
            #table-field {
                text-align: center;
                width: 712px;
                margin: 20px 0 0 30px;
                float: left;
                table {
                    border-collapse: collapse;
                    border: 1px solid #E7E7EB;
                    width: 682px;
                }
                th {
                    border-width: 1px 0 1px 0;
                    background-color: #F4F5F9;
                    height: 47px;
                    color: #8D8D8D;
                    font-weight: normal;
                }
                td {
                    border: 1px solid #E7E7EB;
                    height: 82px;
                    .btn {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                    .setting-icon,
                    .able-icon,
                    .unable-icon {
                        background-repeat: no-repeat;
                        zoom: 50%;
                        margin-left: 40px;
                        height: 40px;
                        width: 40px;
                    }
                }
                p {
                    margin-left: 15px;
                }
            }
        }
        #modify-field {
            display: none;
            margin: 30px 0 0 30px;
            #modify-title {
                height: 46px;
                background-color: #F4F5F9;
                border: 1px solid #E7E7EB;
                p {
                    margin: 15px 0 0 30px;
                }
            }
            #modify-content {
                height: 1200px;
                border: 1px solid #E7E7EB;
                border-top-width: 0;
                input {
                    border: 1px solid #E7E7EB;
                    padding-left: 5px;
                    color: #4A4A4A;
                    font-family: Hiragino Sans GB, Microsoft Yahei, sans-serif;
                    height: 32px;
                    width: 247px;
                    font-size: 14px;
                }
                select {
                    border: 1px solid #E7E7EB;
                    padding-left: 5px;
                    color: #4A4A4A;
                    font-family: Hiragino Sans GB, Microsoft Yahei, sans-serif;
                    height: 32px;
                    width: 247px;
                    font-size: 14px;
                }
                ._content {
                    margin-top: 5px;
                    float: left;
                    width: 100px;
                }
                #printID {
                    padding: 30px 0 0 30px;
                    ._printID {
                        position: relative;
                        top: 5px;
                    }
                }
                #printRemark {
                    padding: 30px 0 0 30px;
                }
                #printCut {
                    padding: 30px 0 0 30px;
                }
                #printUnit {
                    padding: 30px 0 0 30px;
                }
                #printFont {
                    padding: 30px 0 0 30px;
                }
                #printTable,
                #printBranch {
                    padding: 30px 0 0 30px;
                    width: 370px;
                    height: 400px;
                    ._tableTip,
                    ._branchTip {
                        float: left;
                        height: 15px;
                        margin: 5px 0 10px 0;
                    }
                    input {
                        height: 16px;
                        width: 16px;
                    }
                    #tables-choose,
                    #categories-choose {
                        border: 1px solid #E7E7EB;
                        position: relative;
                        right: 22px;
                        float: right;
                        height: 382px;
                        width: 247px;
                        overflow: auto;
                        li.inner-shown-item:hover,
                        li.shown-item:hover {
                            background-color: #F4F5F9;
                        }
                        li.shown-item {
                            cursor: pointer;
                            padding-left: 10px;
                            line-height: 2.5;
                            height: 32px;
                            border-bottom: 1px solid #E7E7EB;
                            .checkbox-icon {
                                background-repeat: no-repeat;
                                float: right;
                                height: 30px;
                                width: 30px;
                                input[type=checkbox] {
                                    opacity: 0;
                                    float: right;
                                    margin-top: 8px;
                                    margin-right: 5px;
                                }
                            }
                            .open-icon {
                                margin-right: 10px;
                                float: left;
                                height: 60px;
                                width: 30px;
                                background-repeat: no-repeat;
                            }
                            &._all {
                                cursor: default;
                            }
                        }
                        li.inner-shown-item {
                            padding-left: 45px;
                            line-height: 2.5;
                            height: 32px;
                            border-bottom: 1px solid #E7E7EB;
                            .checkbox-icon {
                                background-repeat: no-repeat;
                                float: right;
                                height: 30px;
                                width: 30px;
                                input[type=checkbox] {
                                    opacity: 0;
                                    float: right;
                                    margin-top: 8px;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
            #modify-btn-field {
                text-align: center;
                height: 70px;
                border: 1px solid #E7E7EB;
                border-top-width: 0;
                .btn {
                    border-radius: 5px;
                    margin-left: 30px;
                    margin-top: 20px;
                    padding: 0;
                    width: 120px;
                    height: 32px;
                }
                .cancel-btn {
                    border: 1px solid #E7E7EB;
                }
                .save-btn {
                    background-color: #FFC107;
                    color: #FFFFFF;
                    border: 1px solid #FFC107;
                }
            }
        }
    }
}
