.braeco-activity
  .left-menu
    .photo
      span 上传餐厅图片
    .cativity-items
      ul 
        li 
          span 买一送一
        li 
          span 买一送二
    .new-activity
      span 新建活动

  .right-content
    form(name='newActivity')
      label(for='activity-name') 活动名称
      input(type='text' id='activity-name' name='activity-name')
      label(for='activity-start-time') 开始时间
      input(type='datetime-local' id='activity-start-time' name='activity-start-time')
      label(for='activity-end-time') 结束时间
      input(type='datetime-local' id='activity-end-time' name='activity-end-time')
      label(for='activity-upload-image') 点击上传图片 建议尺寸 375像素 * 200像素
      input(type='file' id='activity-upload-image' name='activity-upload-image')
      label(for='activity-brief') 活动简介
      textarea(type='text' id='activity-brief' name='activity-brief')
      input(type='button' value='取消' name='activity-cancle' id='activity-cancle')
      input(type='button' value='保存' name='activity-save' id='activity-save')
