extends index

block css
	include ../../commonlib
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMarket/Activity/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMarket/Activity/base64.css')

block bottom
	script(src='/public/js/CanteenManageMarket/Activity/main.js', type='text/javascript')
