extends ../../layout

block mainHead
  p.title 活动发布

block head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title Braeco
  block css

block content
  include activityMain
  //- include uploadCanteenImage
  include activitySpinner
