extends ../../layout

block mainHead
  p.title 营销管理的效果监测

block head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title Braeco
  block css

block content
  include statisticsMain
  include statisticsSpinner
