#basic-main
    .business-content
        .business-title
            p 堂食
        .business-header
            button.business-start-btn.business-start-btn-able 满送启用中
            button.business-stop-btn.business-stop-btn-able 停止满送
            button.edit-btn 修改
            .alert-block
                p.alert-information 确认停止使用满送？
                .btn-block
                    button.comfirm-btn 确认
                    button.cancel-btn 取消
            .clear
        .business-block
            .business-block-header 外卖设置
            .business-block-content
                div
                    span.block-description 接单日期
                    span.business-content 堂食、预订、外卖
                    .clear
                div
                    span.block-description 支付渠道
                    span.business-content 堂食、预订、外卖
                    .clear

    .business-content
        .business-title
            p 外卖
        .business-header
            button.business-start-btn.business-start-btn-able 满送启用中
            button.business-stop-btn.business-stop-btn-able 停止满送
            button.edit-btn 修改
            .alert-block
                p.alert-information 确认停止使用满送？
                .btn-block
                    button.comfirm-btn 确认
                    button.cancel-btn 取消
            .clear    
        .business-block
            .business-block-header 外卖设置
            .business-block-content
                div
                    span.block-description 接单日期
                    span.business-content 堂食、预订、外卖
                    .clear
                div
                    span.block-description 支付渠道
                    span.business-content 堂食、预订、外卖
                    .clear
            .business-common-block.qrcode-block
                .block-header 顾客长按识别二维码即可点餐：
                .block-content
                    img.qrcode-container
                    p.content-context 可发布于微信群或朋友圈
                    p.content-context 可嵌入公众号文章
                    .clear
                button.block-btn 导出二维码
            .business-common-block.link-block
                .block-header 顾客通过公众号进入点餐：
                .block-content
                    p.content-context 可复制链接配置到公众号菜单栏
                    p#outer-content-link.content-link http://brae.co/nhbhugqwesfnasdf
                    .clear
                button#outer-copy-btn.block-btn 复制链接
            .clear
    .business-content
        .business-title
            p 预点
        .business-header
            button.business-start-btn.business-start-btn-able 满送启用中
            button.business-stop-btn.business-stop-btn-able 停止满送
            button.edit-btn 修改
            .alert-block
                p.alert-information 确认停止使用满送？
                .btn-block
                    button.comfirm-btn 确认
                    button.cancel-btn 取消
            .clear