#basic-edit
    .block-header 修改业务信息
    .role-form
        .form-block.accept-date-block
            span 接单日期
            ul
                li.checkbox-item.unchecked-icon
                    input(type="checkbox" value="0")
                    p 周一
                    .clear
                li.checkbox-item.unchecked-icon
                    input(type="checkbox" value="1")
                    p 周二
                    .clear
                li.checkbox-item.unchecked-icon
                    input(type="checkbox" value="2")
                    p 周三
                    .clear
                li.checkbox-item.unchecked-icon
                    input(type="checkbox" value="3")
                    p 周四
                    .clear
                li.checkbox-item.unchecked-icon
                    input(type="checkbox" value="4")
                    p 周五
                    .clear
                li.checkbox-item.unchecked-icon
                    input(type="checkbox" value="5")
                    p 周六
                    .clear
                li.checkbox-item.unchecked-icon
                    input(type="checkbox" value="6")
                    p 周日
                    .clear
            .clear
        .form-block.pay-method-block
            span 支付渠道
            ul
                li.checkbox-item.unchecked-icon
                    input(type="checkbox" value="0")
                    p 微信支付
                    .clear
                li.checkbox-item.unchecked-icon
                    input(type="checkbox" value="1")
                    p 支付宝
                    .clear
                li.checkbox-item.unchecked-icon
                    input(type="checkbox" value="2")
                    p 百度钱包
                    .clear
                li.checkbox-item.unchecked-icon
                    input(type="checkbox" value="3")
                    p 现金支付
                    .clear
            .clear
    .btn-container
        button.cancel-btn 取消
        button.save-btn 保存