extends ../index

block head
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	title 业务管理_杯口点餐-最贴心的餐饮管家
	block css

'''这里是主体'''
block content
	#business
		#hall
			#business-title
				.color-field
				p 堂食
			#selectBusiness
				#runBusiness
					.run-btn.btn.hall-run-btn
						#runMes
							p 启用本业务
				#stopBusiness
					.stop-btn.btn.hall-stop-btn
						#stopMes
							p 业务已停用
				#modifyForBus
					.modify-btn.btn
						p 修改
			#previewBusiness
				#previewTitle
					p 堂食设置
				#previewContent
					#modifyTime
						span._content 接单日期
						span.showDay 周日、周一、周二、周三、周四、周五、周六
					#modifyPay
						span._content 支付渠道
						span.showPay 微信支付、现金支付
		#takeOut
			#business-title
				.color-field
				p 外卖
			#selectBusiness
				#runBusiness
					.run-btn.btn.takeOut-run-btn
						#runMes
							p 启用本业务
				#stopBusiness
					.stop-btn.btn.takeOut-stop-btn
						#stopMes
							p 业务已停用
				#modifyForBus
					.modify-btn.btn
						p 修改
			#previewBusiness
				#previewTitle
					p 外卖设置
				#previewContent
					#modifyTime
						span._content 接单日期
						span.showDay 周日、周一、周二、周三、周四、周五、周六
					#modifyPay
						span._content 支付渠道
						span.showPay 微信支付、现金支付
				#link-export
						#left-field
							span._le-title 顾客长按识别二维码即可点餐：
							img
							span._le-content 可发布于微信或朋友圈
							span._le-content 可嵌入公众号文章
							.export-btn.btn
								p 导出二维码
						#right-field
							span._le-title 顾客通过公众号进入点餐：
							span._le-content 可复制链接配置到公众号菜单栏
							a._le-content(href="http://brae.co/asghgjbabckbbckabc") http://brae.co/asghgjbabckbbckabc
							.link-btn.btn
								p 复制链接
		#book
			#business-title
				.color-field
				p 预订
			#selectBusiness
				#runBusiness
					.run-btn.btn.book-run-btn
						#runMes
							p 启用本业务
				#stopBusiness
					.stop-btn.btn.book-stop-btn
						#stopMes
							p 业务已停用
				#modifyForBus
					.modify-btn.btn
						p 修改
			#previewBusiness
				#previewTitle
					p 预订设置
				#previewContent
					#modifyTime
						span._content 接单日期
						span.showDay 周日、周一、周二、周三、周四、周五、周六
					#modifyPay
						span._content 支付渠道
						span.showPay 微信支付、现金支付
				#link-export
						#left-field
							span._le-title 顾客长按识别二维码即可点餐：
							img
							span._le-content 可发布于微信或朋友圈
							span._le-content 可嵌入公众号文章
							.export-btn.btn
								p 导出二维码
						#right-field
							span._le-title 顾客通过公众号进入点餐：
							span._le-content 可复制链接配置到公众号菜单栏
							a._le-content(href="http://brae.co/asghgjbabckbbckabc") http://brae.co/asghgjbabckbbckabc
							.link-btn.btn
								p 复制链接
		#takePack
			#business-title
				.color-field
				p 外带
			#selectBusiness
				#runBusiness
					.run-btn.btn.takePack-run-btn
						#runMes
							p 启用本业务
				#stopBusiness
					.stop-btn.btn.takePack-stop-btn
						#stopMes
							p 业务已停用
				#modifyForBus
					.modify-btn.btn
						p 修改
			#previewBusiness
				#previewTitle
					p 外带设置
				#previewContent
					#modifyTime
						span._content 接单日期
						span.showDay 周日、周一、周二、周三、周四、周五、周六
					#modifyPay
						span._content 支付渠道
						span.showPay 微信支付、现金支付
				#link-export
						#left-field
							span._le-title 顾客长按识别二维码即可点餐：
							img
							span._le-content 可发布于微信或朋友圈
							span._le-content 可嵌入公众号文章
							.export-btn.btn
								p 导出二维码
						#right-field
							span._le-title 顾客通过公众号进入点餐：
							span._le-content 可复制链接配置到公众号菜单栏
							a._le-content(href="http://brae.co/asghgjbabckbbckabc") http://brae.co/asghgjbabckbbckabc
							.link-btn.btn
								p 复制链接
		#modifyBusiness
			form#myFrom
				#modifySetting
					p 修改业务信息
				#modifyTime
					#orderDate
						.od
							span 接单日期
						.weekday.true
							input(type = "checkbox" checked = "checked")
							span 周一
						.weekday.true
							input(type = "checkbox" checked = "checked")
							span 周二
						.weekday.true
							input(type = "checkbox" checked = "checked")
							span 周三
						.weekday.true
							input(type = "checkbox" checked = "checked")
							span 周四
						.weekday.true
							input(type = "checkbox" checked = "checked")
							span 周五
						.weekday.true
							input(type = "checkbox" checked = "checked")
							span 周六
						.weekday.true
							input(type = "checkbox" checked = "checked")
							span 周日
				#modifyPay
					.paymentWay
						.payWay
							span 支付渠道
						.payment.true
							input(type = "checkbox" checked = "checked")
							span 微信支付
						.payment.true
							input(type = "checkbox" checked = "checked")
							span 现金支付
				#modifyChoose
					.canBtn.btn
						p 取消
					.finBtn.btn
						p 保存