#category
	.category-wrapper
		#category-main.c-block
			.category-new-field
				#new-btn.btn
					p 新建品类
				.clear
			.category-all-field
				#category-table
					#t-header-field
						.t-header
							.t-first
								p 品类名
							.t-second
								p 图片
							.t-third
								p 操作
							.clear
					#t-body-field
						#category-0.t-body
							.t-first
								p 店长推荐
							.t-second
								.food-pic-field
									.img.default-category-image
							.t-third
								.oper-field
									.edit
										p 修改
									.remove
										p 删除
									.top
										p 置顶
									.clear
							.clear
						#category-1.t-body
							.t-first
								p 店长推荐
							.t-second
								.food-pic-field
									.img.default-category-image
							.t-third
								.oper-field
									.edit
										p 修改
									.remove
										p 删除
									.top
										p 置顶
									.clear
							.clear
		#category-new.c-block
		#category-edit.c-block