@grey-color: #EDEDED;
@border-grey-color: #CECECE;
@brown-color: #D5CEC6;
@deep-coffee-color: #441e01;

@config-icon-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAeUExURQAAAHR0dGxsbG1tbXFxcW5ubnBwcGxsbG9vb2tra1S3yA4AAAAJdFJOUwAZza4umE3wYyAMqJYAAACTSURBVBjTY2AAAsZgUwEGGGCbOd0BynRj4Jg5M4ExEcRm0QwUnjkz0HkySKXTzEmaM0HYEMjpnAkFZUCOMIwTANJTCWFPAulh1ERwxFqBjCJ1IBHhyGAOpKY3SIDUljKAFE2GqJ2KyrEEK+OoBHPEmuEGJKIaDXQoEgfFOSgOhXtBEclzk8A+dxMAe7sRM0AQQQUAdGVgLp0gMxgAAAAASUVORK5CYII=";
@menu-icon-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAYUExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFY3HCoAAAAHdFJOUx7hAX37vG5AQ6XHAAAAVklEQVQY02MIKYcDVwZ3BKeEodxREApEyhnKBRiggBHEUYICCAciAeEoBIJ0iDJBOOIgowqZMGVQ9CglGwOBmRIWPcgcFGWUW4rsBWTPIXsbJUCQgwoAKgE+j/7KdZkAAAAASUVORK5CYII=";
@market-icon-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAXBAMAAADjD5IeAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAqUExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoTzogAAAANdFJOUwDNCxtpuJ8qVD2D5fO+VM4kAAAAvUlEQVQY02NggACm1ZIMcMBx9qoCWBBEsNy9COIwLUwHkux7j4AV3L0GIkUmQRSAVBs6gLWyy140YGBwVYAYVNKapNleDjOWeabM7UVwSwzv3r0C5/jeBdnSmgnmrAVyrFbtvc2g4c7c2Xv37lWV1Lt3GXIuJoqY3r17goE59irD2buRBuzZGxsYGEycGWTvTAAaXgwxaVoIyO4yAwgP7A7DCQivMaimI3F6LiJJxd5dgODk3nVAcEq3gYwDAHN/Ok5oDZhsAAAAAElFTkSuQmCC";
@data-icon-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAXCAMAAADTAfSvAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAzUExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKMFRskAAAARdFJOUwAYnogySV/+yfANA2uuP7vcxsB72wAAAKtJREFUGNNtkdsaxBAMhHNAiDi8/9Mu3dbatnNj/CTyDSB5KgJJuks6+FjdUj1840EVLmHjPBaaFBf1EjXrG7XmdopVB8UoYaOZUnihRexOsb5QZP+kSOHRQV2zORYhcoBAOGi1Gq2GJTOLDNl3xrLi6mXIQ+ismaX5qbFqziOLTgoaxY6hXUrua3TbzAlWKkHOODMJXXDz6/yvbvUCqD+r7Xx3Xijrl/go+wDaKwkpZtCFjgAAAABJRU5ErkJggg==";
@business-icon-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAA2UExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALd2aHIAAAARdFJOUwC5RQndoFaP9uxrrcUyH9CFmHFDFwAAAQhJREFUKM9lklF2xCAIRQEJCKKR/W+2mknmNO39Up4iPAT4zeC84VccOtebP0IRvZE/wuR/N0p3VaeufIHgx0JHb7bfrEhj7oDD3lcXzhrHETVN5ApdN5w4TyljFIo0ckRUOM4Te8uzAzVcYiQO3cJqqZFVAeGGPGGvj52KVMkzCmi4d4KCOWllhzATzQOA2EIKwNrQucrFRyhdT5sfoVYDeVJNJ9copaX2bYntx2slmIx4TuiWotsSjWgDM0aRq9yW0ZE5wFtrTpZBMDqsjlbrX0suGwx1LsNsn3osaXMQ1svEkN33bclmdpmtqYxV9wbgmTLP8R7ad5he3sKy5AP3t/D9MPYWfgDQUg/JToAtLwAAAABJRU5ErkJggg==";
@settings-icon-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAwUExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFo/HAsAAAAQdFJOUwD7zRwPiwe7dDCjUPBj37D75jP5AAAA8UlEQVQY02NgAIEUNwYYYN5apB7tAGGzXJJRLzqoC+FZCXW6pcxQXAxWVBgMokzFDYCkl0QCiMPWuARIXgyznsaWlsDsKgtUpWSpeJa7Y4OVsZIBA7cEq6CcRWjDPYPGDQysJ70eCm4NDVtnMCeAIV3FVVFmV8RiPQOnMganMo5CofmrVr4zSFcBcpg/nuUQvHkOxAEi8wss9dlyIGWsJxmyJjCEcsuBDOCWYHDaAOYAjWZWMpjTwFbPqWesBHT3xYA5AWz6DPdMZcEOBXP6YkAOZa4pBHECwV5gsBL86aI+4+FiuLfPwLzNwIIUIIigAgBZkEb2pdiYrgAAAABJRU5ErkJggg==";

* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

body {
    background-color: @grey-color;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.transition (@time: .3s) {
    -webkit-transition: all @time ease-in-out;
    -moz-transition: all @time ease-in-out;
    -ms-transition: all @time ease-in-out;
    -o-transition: all @time ease-in-out;
    transition: all @time ease-in-out;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-backface-visibility: hidden;
    -moz-perspective: 1000;
    backface-visibility: hidden;
    perspective: 1000;
}

.background-norm(@elem: "none") {
    background-repeat: no-repeat;
    background-position: center;
}

#braeco-head-nav {
    position: absolute;
    top: 0;
    width: 100%;
    .nav-container {
        height: 50px;
        background-color: @deep-coffee-color;
        color: #fff;
        .logo-wrapper {
            float: left;
            height: 50px;
            width: 110px;
            margin-left: 50px;
            .logo-img {
                background: url("http://devel.brae.co/public/images/index_logo.png") no-repeat;
                background-size: 110px 50px;
                width: 100%;
                height: 100%;
            }
        }
        .account-wrapper {
            text-align: center;
            float: right;
            margin-right: 50px;
            min-width: 100px;
            font-size: 18px;
            background-color: #441e01;
            .ac-name-field {
                height: 50px;
                line-height: 50px;
                a {
                    color: #fff;
                }
            }
            .ac-op-container {
                height: 0;
                .transition(0.1s);
                overflow: hidden;
                .ac-op-list {
                    a {
                        color: #fff;
                    }
                    li {
                        height: 35px;
                        line-height: 35px;
                        font-size: 16px;
                        &:hover {
                            background-color: rgb(170, 140, 50);
                        }
                    }
                }
            }
            &:hover {
                .ac-op-container {
                    height: 140px;
                }
            }
        }
    }
}

#braeco-main {
    margin: 100px auto;
    width: 1150px;
    height: 800px;
    overflow: auto;
    background-color: #fff;
    border: solid 1px @border-grey-color;
    #braeco-sidebar {
        float: left;
        height: 800px;
        border-right: solid 1px @border-grey-color;
        .sidebar-wrapper {
            width: 150px;
            min-width: 150px;
            p {
                padding-left: 40px;
            }
            .header {
                line-height: 35px;
                font-size: 16px;
            }
            .sub-menu,
            .menu-header {
                border-bottom: solid 1px @border-grey-color;
            }
            .a-link {
                position: relative;
                &:hover {
                    background-color: @brown-color;
                }
                &.choose {
                    border: solid 1px @deep-coffee-color;
                    background-color: @brown-color;
                }
            }
            .menu-header {
                position: relative;
                icon {
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    top: 8.5px;
                    left: 12px;
                    background-size: 18px 18px;
                    .background-norm();
                    &.config-icon-pic {
                        background-image: url(@config-icon-url);
                    }
                    &.menu-icon-pic {
                        background-image: url(@menu-icon-url);
                    }
                    &.market-icon-pic {
                        background-image: url(@market-icon-url);
                    }
                    &.data-icon-pic {
                        background-image: url(@data-icon-url);
                    }
                    &.business-icon-pic {
                        background-image: url(@business-icon-url);
                    }
                    &.settings-icon-pic {
                        background-image: url(@settings-icon-url);
                    }
                }
            }
            ul.sub-menu-content-list {
                p {
                    font-size: 14px;
                    line-height: 30px;
                }
            }
        }
    }
    #braeco-mainbar {
        height: 800px;
        overflow: auto;
        .mainbar-wrapper {
            width: 100%;
            .main-title-field {
                height: 72px;
                border-bottom: solid 1px @border-grey-color;
                line-height: 72px;
                p {
                    padding-left: 50px; 
                    font-size: 20px;
                }
            }
        }
    }
}