* {
	margin: 0;
	padding: 0;
}
ul li {
	list-style-type: none;
}
#braeco-head-nav {
	position: absolute;
	top: 0;
	width: 100%;
	.nav-container {
		height: 50px;
		.logo-wrapper {
			float: left;
		}
		.account-wrapper {
			float: right;
		}
	}
}

#braeco-main {
	margin-top: 100px;
}
