text-align: center;
.t-choose {
	width: 55px;
}
.t-pic {
	width: 129px;
}
.t-name {
	width: 127px;
}
.t-price {
	width: 89px;
}
.t-subitem {
	width: 109px;
}
.t-dc {
	width: 93px;
}
.t-remark {
	width: 103px;
}

.combo-head {
	line-height: 43px;
	background-color: @grey-color;
	color: #8D8D8D;
	.combo-head-wrapper {
		.combo-head-container {
			> *:not(.clear) {
				height: 43px;
			}
		}
	}
}