#full-cover {
    .hide;
    select {
        height: 30px;
    }
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .full-cover-container,
    .full-cover-wrapper {
        height: 100%;
        width: 100%;
    }
    .full-cover-container {
        background-color: rgba(0, 0, 0, 0.6);
    }
    .popup {
        width: 450px;
        background-color: #fff;
        .title-field {
            line-height: 55px;
            background-color: @grey-color;
            font-size: 16px;
            .title-wrapper {
                padding: 0 20px;
                .close-field {
                    float: right;
                    margin: 10px 0;
                    .close-btn {
                        cursor: pointer;
                        .background-norm();
                        background-size: 16px 16px;
                        height: 35px;
                        width: 35px;
                    }
                }
            }
        }
        .content-field {
            border-top: solid 1px @border-grey-color;
            border-bottom: solid 1px @border-grey-color;
        }
        .btn-field {
            .btn-wrapper {
                width: 266px;
                margin: 0 auto;
                .btn-container {
                    padding: 19px 0;
                    .btn {
                        width: 120px;
                        padding: 0;
                        text-align: center;
                    }
                    .cancel-btn {
                        border: solid 1px @border-grey-color;
                    }
                    .confirm-btn {
                        float: right;
                        background-color: @orange-color;
                        color: #fff;
                    }
                }
            }
        }
        &.copy-field,
        &.move-field {
            .content-field {
                line-height: 32px;
                .content-wrapper {
                    width: 332px;
                    margin: 0 auto;
                    .content-container {
                        padding: 60px 0;
                        .right-part {
                            select {
                                width: 255px;
                            }
                        }
                    }
                }
            }
        }
        &.property-field {
            .content-field {
                .content-wrapper {
                    margin: 30px auto;
                    width: 258px;
                    height: 190px;
                    overflow: auto;
                    border: solid 1px @border-grey-color;
                    ul {
                        li {
                            font-size: 14px;
                            border-bottom: solid 1px @border-grey-color;
                            cursor: pointer;
                            &:hover {
                                background-color: @grey-color;
                            }
                            .property-content-wrapper {
                                width: 100%;
                                height: 30px;
                                .name-field {
                                    float: left;
                                    margin-left: 7px;
                                    line-height: 30px;
                                }
                                .tick-field {
                                    float: right;
                                    margin-right: 7px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.loading-field {
            .animation-field {
                .animation-wrapper {
                    width: 250px;
                    margin: 0 auto;
                    .animation-container {
                        padding: 40px 0;
                        .logo-pic-field {
                            width: 55px;
                            height: 100px;
                            margin: 0 auto;
                            position: relative;
                            .logo-pic {
                                position: absolute;
                                top: 0;
                                left: 2.5px;
                                .background-norm();
                                .background-size(50px, 50px);
                                .animation(animation-bounce 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate);
                            }
                            .shadow {
                                width: 55px;
                                height: 15px;
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                background-color: #000;
                                .rounded-corners(100%);
                                opacity: 0.2;
                                .animation(animation-shadow 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate);
                            }
                        }
                        .word-field {
                            margin-top: 40px;
                            line-height: 40px;
                            font-size: 20px;
                            text-align: center;
                            span.dot:before {
                                content: "";
                                .animation(animation-dot 2s infinite);
                            }
                        }
                    }
                }
            }
        }
        &.sort-field {
            height: auto;
            .content-field {
                height: auto;
                .content-wrapper {
                    width: 342px;
                    margin: 0 auto;
                    height: auto;
                    .content-container {
                        padding: 34px 0 30px 0;
                        > *:not(.clear) {
                            height: 200px;
                        }
                        > .left-part {
                            .dish-field {
                                border: solid 1px @border-grey-color;
                                .dish-wrapper {
                                    width: 245px;
                                    height: 200px;
                                    overflow: auto;
                                    .dish-container {
                                        ul {
                                            li {
                                                cursor: pointer;
                                                border-bottom: solid 1px @border-grey-color;
                                                &:hover {
                                                    background-color: @grey-color;
                                                }
                                                .basic-info-wrapper {
                                                    width: 230px;
                                                    margin: 0 auto;
                                                    line-height: 30px;
                                                    .name-field {
                                                        p {
                                                            width: 200px;
                                                            .ellipsisWithLineNum(1);
                                                        }
                                                    }
                                                    .tick-field {
                                                        .tick {
                                                            .background-norm();
                                                            .background-size(14px, 14px);
                                                            background-color: #fff;
                                                            border: solid 1px @border-grey-color;
                                                            margin: 7px 0;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        > .right-part {
                            width: 64px;
                            .oper-field {
                                > * {
                                    .rounded-corners(5px);
                                    border: solid 1px @border-grey-color;
                                    cursor: pointer;
                                }
                                .down-btn {
                                    margin-top: 20px;
                                }
                                .btn-wrapper {
                                    width: 28px;
                                    margin: 0 auto;
                                    .btn-container {
                                        padding: 23.5px 0;
                                        height: 42px;
                                        .icon {
                                            .background-norm();
                                            .background-size(18px, 20px);
                                            margin: 0 auto;
                                        }
                                        p {
                                            line-height: 14px;
                                            margin-top: 8px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}