#subitem-main
	#new-btn
		.new-btn
			.new-btn-wrapper
				.new-btn-container
					.left-part
						.icon
					.right-part
						p 新建子项
					.clear
	#subitem-table.left-right-border
		.subitem-head.top-bottom-border
			.subitem-head-wrapper
				.subitem-head-container.parallel-container
					#name
						.name-field
							p 名称
					#remark
						.remark-field
							p 备注
					#price
						.price-field
							p 计价方式
					#num
						.num-field
							p 包含单品数
					#oper
						.oper-field
							p 操作
					.clear
		.subitem-body
			ul.subitem-list
				li.subitem
					.subitem-elem-container.parallel-container
						#name
							.name-field.total-center
								p 名称
						#remark.left-right-border
							.remark-field.total-center
								p 备注
						#price
							.price-field.total-center
								p 固定价格, 20元
						#num.left-right-border
							.num-field.total-center
								p 20款
						#oper
							.oper-field.total-center
								.left-part
									.edit
										.icon
										p 修改
								.right-part
									.remove
										.icon
										p 删除
								.clear
						.clear
