script(src='/public/js/common/util.js', type='text/javascript')
script(src='/public/js/common/jquery.min.js', type='text/javascript')
script(src='/public/js/common/z_jquery.md5.js', type='text/javascript')
script(src='/public/js/common/z_datepicker.min.js', type='text/javascript')
link(href="/public/css/common/z_datepicker.min.css", rel="stylesheet")