#braeco-extrabar
    #extrabar-guide.extrabar-block
        #guide-description.block-description
            p 配置向导
        #guide-content
            .column1
                .content-step-block
                    h3.step-header 第一步：餐厅设置
                    a(href='/Manage/Settings/Staff/Account')#waiter.step-content
                        .image-container.waiter-image-container
                        .description-container
                            h4 员工管理
                            p 管理不同员工，为其分配账号与角色权限。
                        .arrow-container
                    a(href='/Manage/Extra/Download')#install.step-content
                        .image-container.install-image-container
                        .description-container
                            h4 产品安装
                            p 安装打印程序与手机 APP，进一步提高效率。
                        .arrow-container
                .content-step-block
                    h3.step-header 第二步：基础业务
                    a(href='/Manage/Settings/Business/Basic')#setting.step-content
                        .image-container.setting-image-container
                        .description-container
                            h4 业务管理
                            p 管理餐厅经营的各种不同的业务类型。
                        .arrow-container
            .column2
                .content-step-block
                    h3.step-header 第三步：餐牌管理
                    a(href='/Manage/Menu/Category')#sorts.step-content
                        .image-container.sorts-image-container
                        .description-container
                            h4 品类录入
                            p 将单品分为不同品类管理，提高菜单可读性。
                        .arrow-container
                    a(href='/Manage/Menu/Food/Single')#dishes.step-content
                        .image-container.dishes-image-container
                        .description-container
                            h4 单品录入
                            p 菜单最基本单位，丰富信息将吸引顾客下单。
                        .arrow-container
                    a(href='/Manage/Menu/Combo/Single')#package.step-content
                        .image-container.package-image-container
                        .description-container
                            h4 套餐录入
                            p 添加基于单品的套餐组合，提高客单价。
                        .arrow-container
            .clear
    #extrabar-download.extrabar-block
        a(href='/Manage/Extra/Download').block-description
            p 产品下载
    #extrabar-top.extrabar-block
        .top-arrow