doctype html
html
	head
		block head

	body
		#braeco
			include nav
			#braeco-main
				#main-wrapper
					include sidebar
					include mainbar
					include toast
					.clear
		block bottom
		include ./footer