#braeco-head-nav
	.nav-container
		.logo-wrapper
			.logo-img
		.account-wrapper
			.account-container
				.ac-name-field
					a(href="#")
						p.name 账号名
				.ac-op-container
					ul.ac-op-list
						a(href="#")
							li#canteen-info-field
								p#canteen-info 餐厅信息
						a(href="#")
							li#canteen-journal-field
								p#canteen-journal 餐厅日志
						a(href="#")
							li#modify-pass-field
								p#modify-pass 修改密码
						a(href="#")
							li#sign-out-field
								p#sign-out 安全退出
