#braeco-head-nav
	.nav-container
		.logo-wrapper
			.logo-img
		.account-wrapper
			.account-container
				.ac-name-field
					p.name 账号名
				ul.ac-op-list
					li#canteen-info-field
						p#canteen-info 餐厅信息
					li#canteen-journal-field
						p#canteen-journal 餐厅日志
					li#modify-pass-field
						p#modify-pass 修改密码
					li#sign-out-field
						p#sign-out 安全退出
