#braeco-sidebar
	.sidebar-wrapper
		.config-menu
			.config-menu-header
				a(href = "#")
					p.header 配置向导
		.braeco-manage-menu
			#menu-manage.sub-menu
				.sub-menu-header
					p.header 菜单管理
				ul.sub-menu-content-list
					li.sub-menu-content
						a(href = "#")
							p.sub-name 品类
					li.sub-menu-content
						a(href = "#")
							p.sub-name 单品
					li.sub-menu-content
						a(href = "#")
							p.sub-name 套餐
					li.sub-menu-content
						a(href = "#")
							p.sub-name 必选
			#market-manage.sub-menu
				.sub-menu-header
					p.header 营销管理
				ul.sub-menu-content-list
					li.sub-menu-content
						a(href = "#")
							p.sub-name 活动发布
					li.sub-menu-content
						a(href = "#")
							p.sub-name 优惠促销工具
					li.sub-menu-content
						a(href = "#")
							p.sub-name 会员
					li.sub-menu-content
						a(href = "#")
							p.sub-name 卡券
					li.sub-menu-content
						a(href = "#")
							p.sub-name 搭配推荐
			#data-manage.sub-menu
				.sub-menu-header
					p.header 数据管理
				ul.sub-menu-content-list
					li.sub-menu-content
						a(href = "#")
							p.sub-name 流水订单
					li.sub-menu-content
						a(href = "#")
							p.sub-name 数据统计
					li.sub-menu-content
						a(href = "#")
							p.sub-name 营销分析
			#basic-business.sub-menu
				.sub-menu-header
					p.header 基础业务
				ul.sub-menu-content-list
					li.sub-menu-content
						a(href = "#")
							p.sub-name 堂食自主点餐
					li.sub-menu-content
						a(href = "#")
							p.sub-name 预订外带
					li.sub-menu-content
						a(href = "#")
							p.sub-name 外卖
			#restaurant-settings.sub-menu
				.sub-menu-header
					p.header 餐厅设置
				ul.sub-menu-content-list
					li.sub-menu-content
						a(href = "#")
							p.sub-name 员工管理
					li.sub-menu-content
						a(href = "#")
							p.sub-name 支付渠道
					li.sub-menu-content
						a(href = "#")
							p.sub-name 产品安装