#braeco-sidebar
	.sidebar-wrapper
		.config-menu
			.config-menu-header.menu-header.a-link
				a(href = "/Manage/Extra/Config")
					icon.config-icon-pic
					p.header 配置向导
		.braeco-manage-menu
			#menu-manage.sub-menu
				.sub-menu-header.menu-header
					icon.menu-icon-pic
					p.header 菜单管理
				ul.sub-menu-content-list
					li#Category-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Menu/Category")
							p.sub-name 品类
					li#Food-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Menu/Food/Single")
							p.sub-name 单品
					li#Combo-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Menu/Combo/Single")
							p.sub-name 套餐
					li#Mandatory-sub-menu.sub-menu-content.a-link
						a(href = "#")
							p.sub-name 必选
			#market-manage.sub-menu
				.sub-menu-header.menu-header
					icon.market-icon-pic
					p.header 营销管理
				ul.sub-menu-content-list
					li#Activity-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Market/Activity")
							p.sub-name 活动发布
					li#Promotion-sub-menu.sub-menu-content.a-link
						a(href = "#")
							p.sub-name 单品优惠
					li#Order-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Market/Order/Reduce")
							p.sub-name 订单优惠
					li#Discount-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Market/Member/List")
							p.sub-name 会员
					li#Card-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Market/Coupon/Basic")
							p.sub-name 卡券
					li#Col-Recommend-sub-menu.sub-menu-content.a-link
						a(href = "#")
							p.sub-name 搭配推荐
			#data-manage.sub-menu
				.sub-menu-header.menu-header
					icon.data-icon-pic
					p.header 数据管理
				ul.sub-menu-content-list
					li#WaterOrder-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Data/Record/Order")
							p.sub-name 流水订单
					li#Data-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Data/Statistics")
							p.sub-name 数据统计
					li#Market-Analysis-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Data/Analysis")
							p.sub-name 营销分析
			#restaurant-manage.sub-menu
				.sub-menu-header.menu-header
					icon.settings-icon-pic
					p.header 餐厅管理
				ul.sub-menu-content-list
					li#Business-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Settings/Business/Basic")
							p.sub-name 业务管理
					li#Staff-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Settings/Staff/Account")
							p.sub-name 店员管理

