extends index

block css
	include ../../../commonlib
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageData/Record/Refund/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageData/Record/Refund/base64.css')

block bottom
	script(src='/public/js/CanteenManageData/Record/Refund/main.js' type='text/javascript')
