extends index

block css
	script(src='/public/js/common/extra.min.js' type='text/javascript')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageData/Record/Refund/main.min.css')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageData/Record/Refund/base64.min.css')

block bottom
	script(src='/public/js/CanteenManageData/Record/Refund/main.min.js' type='text/javascript')
