@import "../common/common";

.rectangle {
    width: 240px;
    height: 46px;
    background: white;
    float: left;
    position: relative;
    text-align: center;
    line-height: 46px;
    color: #333333;
    font-size: 13px;
}

#step3 {
    .rectangle {
        width: 274px;
    }
}

.mainbar-wrapper {
    p,
    h5 {
        font-size: 13px;
        margin: 0 10px 0 10px;
    }
    h5 {
        margin-top: 10px;
        color: blue;
    }
}

.mainbar-wrapper {
    #choose {
        top: 20px;
        left: 20px;
        width: 800px;
        height: 46px;
        position: relative;
        border-color: #797979;
        border-width: 1px;
        border-style: solid;
        margin: 0;
        padding: 0;
    }
}

#step1 {
    .rectangle {
        background: #0066CC;
        color: white;
    }
}

#step1.btn,
#step2.btn,
#step3.btn {
    padding: 0;
    border-width: 0;
    border-style: none;
}

#step1 {
    .triangle_border_right span {
        border-color: transparent transparent transparent #0066CC;
    }
}

.triangle_border_right {
    width: 0;
    height: 0;
    border-width: 23px 0 23px 23px;
    border-style: solid;
    border-color: transparent transparent transparent #797979;
    /*透明 透明 透明 灰色*/
    margin: 0px auto;
    position: relative;
    float: left;
}

.triangle_border_right span {
    display: block;
    width: 0;
    height: 0;
    border-width: 22px 0 22px 22px;
    border-style: solid;
    border-color: transparent transparent transparent white;
    /*透明 透明 透明 白色*/
    position: absolute;
    float: left;
    top: -22px;
    left: -23px;
}

#step1Content,
#step2Content,
#step3Content {
    border-style: solid;
    border-color: #797979;
    border-width: 1px;
    width: 800px;
    height: 280px;
    margin: 40px 0 0 20px;
}

#step3Content,
#step2Content {
    display: none;
}

.peopleManage,
.productManage,
.paymentManage {
    margin: 40px 40px 0 40px;
    border-color: #797979;
    border-width: 1px;
    border-style: solid;
    width: 260px;
    height: 70px;
    float: left;
}

.canOrder,
.takeAway,
.takeDis {
    margin: 40px 40px 0 40px;
    border-color: #797979;
    border-width: 1px;
    border-style: solid;
    width: 260px;
    height: 70px;
    float: left;
}

.categoryPart,
.singlePart,
.packagePart,
.mustPoint {
    margin: 40px 40px 0 40px;
    border-color: #797979;
    border-width: 1px;
    border-style: solid;
    width: 260px;
    height: 70px;
    float: left;
}

.peoPic,
.proPic,
.payPic {
    .background-size(50px, 50px);
    float: left;
    margin: 10px 20px 0 20px;
}

.canPic,
.takePic,
.takeDisPic {
    .background-size(50px, 50px);
    float: left;
    margin: 10px 20px 0 20px;
}

.categoryPic,
.singlePartPic,
.mustPointPic,
.packagePartPic {
    .background-size(50px, 50px);
    float: left;
    margin: 10px 20px 0 20px;
}

#stepChoose {
    position: relative;
    border-style: solid;
    border-color: #797979;
    border-width: 1px;
    width: 800px;
    height: 50px;
    margin: -1px 0 0 20px;
}

.nextBtn,
.lastBtn,
.finBtn {
    background-color: #F3F3F3;
    border-style: solid;
    border-color: #797979;
    border-width: 1px;
    color: black;
    font-size: 13px;
    margin: 10px 0 0 20px;
}
.lastBtn,
.finBtn {
    display: none;
}