@import "../common/common";

#choose {
    display: none;
}

.mainbar-wrapper {
    p,
    h5 {
        font-size: 13px;
        margin: 0 10px 0 10px;
    }
    h5 {
        margin-top: 10px;
        color: blue;
    }
}

#step1Content,
#step2Content,
#step3Content {
    border-style: solid;
    border-color: #797979;
    border-width: 1px;
    width: 730px;
    height: 280px;
    margin: 40px 0 0 20px;
    overflow: hidden;
    top: -100px;
    position: relative;
}

#step3Content,
#step2Content {
    display: none;
}

.peopleManage,
.productManage,
.paymentManage {
    margin: 40px 40px 0 40px;
    border-color: #797979;
    border-width: 1px;
    border-style: solid;
    width: 260px;
    height: 70px;
    float: left;
}


.canOrder,
.takeAway,
.takeDis {
    margin: 40px 40px 0 40px;
    border-color: #797979;
    border-width: 1px;
    border-style: solid;
    width: 260px;
    height: 70px;
    float: left;
}

.categoryPart,
.singlePart,
.packagePart,
.mustPoint {
    margin: 40px 40px 0 40px;
    border-color: #797979;
    border-width: 1px;
    border-style: solid;
    width: 260px;
    height: 70px;
    float: left;
}

.peoPic,
.proPic,
.payPic {
    .background-size(50px, 50px);
    float: left;
    margin: 10px 20px 0 20px;
}

.canPic,
.takePic,
.takeDisPic {
    .background-size(50px, 50px);
    float: left;
    margin: 10px 20px 0 20px;
}

.categoryPic,
.singlePartPic,
.mustPointPic,
.packagePartPic {
    .background-size(50px, 50px);
    float: left;
    margin: 10px 20px 0 20px;
}

#stepChoose {
    position: relative;
    border-style: solid;
    border-color: #797979;
    border-width: 1px;
    width: 730px;
    height: 50px;
    margin: -1px 0 0 20px;
    top: -100px;
}

.nextBtn,
.lastBtn,
.finBtn {
    background-color: #F3F3F3;
    border-style: solid;
    border-color: #797979;
    border-width: 1px;
    color: black;
    font-size: 13px;
    margin: 10px 0 0 20px;
}

.lastBtn,
.finBtn {
    display: none;
}

.stepsPic {
    .background-size(730px, 65px);
    margin: 10px 20px 0 20px;
    z-index: 10;
}


#step1 {
    .background-size(258px, 65px);
    margin: 0;
    z-index: 20;
    position: relative;
    top: -65px;
    left: 20px;
    float: left;
    z-index: 10;
    padding: 0px;
}

.step1Pic {
    .background-size(258px, 65px);
}

#step2 {
    .background-size(286px, 65px);
    margin: 0;
    z-index: 20;
    position: relative;
    float: left;
    top: -65px;
    left: -20px;
    z-index: 20;
    padding: 0px;
}

.step2Pic {
    .background-size(286px, 65px);
    display: none;
}

#step3 {
    .background-size(260px, 65px);
    margin: 0;
    z-index: 20;
    top: -130px;
    left: 490px;
    position: relative;
    float: left;
    padding: 0px;
}

.step3Pic {
    .background-size(260px, 65px);
    display: none;
}

#steps {
    margin: 0;
}
