#combo-new
	.c-table.left-right-border
		.c-header.top-bottom-border
			.c-header-wrapper
				.c-header-container
					.title-field
						p 新建套餐
		.c-basic
			.c-basic-wrapper.c-wrapper
				.c-basic-container.outter-field
					.left-part
						.warn-field
							p 带 * 号的为必填项
						.c-name-field.inner-field
							.left-part
								p 单品名称 *
							.right-part
								input(type="text" class='single-input')
							.clear
						.e-name-field.inner-field
							.left-part
								p 英文名
							.right-part
								input(type="text" class='single-input')
							.clear
						.price-field.inner-field
							.left-part
								p 总价 *
							.right-part.parallel-container
								.select-field
									select(name="new-select-price" id="new-select-price")
										option(value="combo_static") 固定总价
										option(value="combo_sum") 子项加总
								.input-field
									input(type="number" class='combo-price')
									span 元
								.clear
							.clear
					.right-part
						.pic-field
							label(for='new-pic' class='total-center')
								.img-field
									.img
								.word-field.total-center
									p 点击上传图片
									p 建议尺寸:
									p 200像素 * 200像素
							input(name="new-pic", id="new-pic" type="file" class="hide")
					.clear
		.c-extend.top-bottom-border
			.c-extend-wrapper.c-wrapper
				.c-extend-container
					.subitem-field
						ul.subitem-list
						.btn-field.parallel-container
							.new-btn
								.new-btn-wrapper
									.add-icon
									p 新建子项
									.clear
							.manage-btn
								.manage-btn-wrapper
									a(href="javascript:open('/Manage/Menu/Combo/Subitem')")
										p 管理子项
							.clear
					.remark-field
						.left-part
							p 备注标签
						.right-part
							input(id="new-remark")
						.clear
					.intro-field
						.left-part
							p 详情介绍
						.right-part
							textarea(id="new-intro")
						.clear
		.c-shelves
			.shelves-wrapper.c-wrapper
				.shelves-container
					.date-container
						p 上架日期
						ul.date-list.parallel-container
							li#date-0.parallel-container.active(data-value='1')
								.tick
								p 周一
								.clear
							li#date-1.parallel-container.active(data-value='2')
								.tick
								p 周二
								.clear
							li#date-2.parallel-container.active(data-value='4')
								.tick
								p 周三
								.clear
							li#date-3.parallel-container.active(data-value='8')
								.tick
								p 周四
								.clear
							li#date-4.parallel-container.active(data-value='16')
								.tick
								p 周五
								.clear
							li#date-5.parallel-container.active(data-value='32')
								.tick
								p 周六
								.clear
							li#date-6.parallel-container.active(data-value='64')
								.tick
								p 周日
								.clear
							.clear
						.clear
					.time-container
						.left-part
							p 上架时间
							.clear
						.right-part
							.time-field
								ul.time-list
								.add-time-btn-field
									.add-time-btn
										.middle-field.parallel-container
											.add-icon
											p 添加时段
											.clear
								#time-picker
									.time-picker-container
										.picker-field
											.hour-picker.picker.parallel-container
												.num-field
													p 00
												.oper-field
													.upper-btn
													.down-btn
												.clear
											.minute-picker.picker.parallel-container
												.num-field
													p 00
												.oper-field
													.upper-btn
													.down-btn
												.clear
											.clear
										.confirm-btn
											p 确定
						.clear
		.c-dc.top-bottom-border
			.c-dc-wrapper.c-wrapper
				.c-dc-container
					.dc-field
						.left-part
							p 促销工具
						.right-part.parallel-container
							.select-field
								select(name="new-select-dc-type" id="new-select-dc-type")
									option(value='none') 无
									option(value='sale') 减价优惠
									option(value='discount') 折扣优惠
									option(value='half') 第二份半价
									option(value='limit') 限量供应
							.addtional.parallel-container
							.clear
						.clear
		.c-oper
			.c-oper-wrapper.c-wrapper
				.c-oper-container.parallel-container
					.cancel-btn
						p 取消
					.save-btn
						p 保存
					.clear