#combo-edit
	.c-table.left-right-border
		.c-header.top-bottom-border
			.c-header-wrapper
				.c-header-container
					.title-field
						p 编辑套餐
		.c-basic
			.c-basic-wrapper.c-wrapper
				.c-basic-container.outter-field
					.left-part
						.warn-field
							p 带 * 号的为必填项
						.c-name-field.inner-field
							.left-part
								p 单品名称 *
							.right-part
								input(type="text" class='single-input')
							.clear
						.e-name-field.inner-field
							.left-part
								p 英文名
							.right-part
								input(type="text" class='single-input')
							.clear
						.price-field.inner-field
							.left-part
								p 总价 *
							.right-part.parallel-container
								.select-field
									select(name="edit-select-price" id="edit-select-price")
										option(value="combo_static") 固定总价
										option(value="combo_sum") 子项加总
								.input-field
									input(type="number" class='combo-price')
									span 元
								.clear
							.clear
					.right-part
						.pic-field
							label(for='edit-pic' class='total-center')
								.img-field
									.img
								.word-field.total-center
									p 点击上传图片
									p 建议尺寸:
									p 200像素 * 200像素
							input(name="edit-pic", id="edit-pic" type="file" class="hide")
					.clear
		.c-extend.top-bottom-border
			.c-extend-wrapper.c-wrapper
				.c-extend-container
					.subitem-field
						ul.subitem-list
						.btn-field.parallel-container
							.new-btn
								.new-btn-wrapper
									.add-icon
									p 新建子项
									.clear
							.manage-btn
								.manage-btn-wrapper
									a(href="javascript:open('/Manage/Menu/Combo/Subitem')")
										p 管理子项
							.clear
					.remark-field
						.left-part
							p 备注标签
						.right-part
							input(id="edit-remark")
						.clear
					.intro-field
						.left-part
							p 详情介绍
						.right-part
							textarea(id="edit-intro")
						.clear
		.c-dc
			.c-dc-wrapper.c-wrapper
				.c-dc-container
					.dc-field
						.left-part
							p 促销工具
						.right-part.parallel-container
							.select-field
								select(name="edit-select-dc-type" id="edit-select-dc-type")
									option(value='none') 无
									option(value='sale') 减价优惠
									option(value='discount') 折扣优惠
									option(value='half') 第二份半价
									option(value='limit') 限量供应
							.addtional.parallel-container
								input(type="number" placeholder='(1-99)' max='99' min='1')
								p 份
								.clear
							.clear
						.clear
		.c-oper
			.c-oper-wrapper.c-wrapper
				.c-oper-container.parallel-container
					.cancel-btn
						p 取消
					.save-btn
						p 保存
					.clear