#combo-main
	#category-select
		p 品类选择
		.select-field
			select.category-select
	#combo-table.left-right-border
		.combo-oper
			.combo-oper-wrapper
				.combo-oper-container.parallel-container
					#new
						icon
						p 新建
						.clear
					#edit
						icon
						p 修改
						.clear
					#move
						icon
						p 移动
						.clear
					#sort
						icon
						p 排序
						.clear
					#copy
						icon
						p 复制
						.clear
					#able
						icon
						p 隐藏
						.clear
					#remove
						icon
						p 删除
						.clear
					.clear
		.combo-head.top-bottom-border
			.combo-head-wrapper
				.combo-head-container.parallel-container
					.t-choose
						icon.choose-icon.total-center
					.t-pic
						p 图片
					.t-name
						p 名称
					.t-price
						p 总价
					.t-subitem
						p 子项
					.t-dc
						p 促销工具
					.t-remark
						p 备注标签
					.clear
		.combo-list
			
