extends ../../layout

block mainHead
	p.title 安装手机端APP，进一步提高效率

block head
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	title 产品下载_杯口点餐-最贴心的餐饮管家
	block css

'''这里是主体'''
block content
	.mycenter
		.part
			.part_left
			.part_right
				.part_head 杯口点餐 APP
				.part_desc 杯口点餐 APP 是一款基于杯口在线自助点餐系统的商户助手，供店长与店员使用，可大幅提高经营效率。<br><br>店长：可进行菜单管理、统计经营数据、打印机分单设置等操作；<br>店员：可帮助顾客完成点餐下单、会员充值、退款等日常经营需求。
			.part_download
				.part_download_li.android
					.download Android 下载
					.img
				.part_download_li.ios
					.download iOS 下载
					.img





block bottom