@import "../../../common/common";
#Coupon {
    .Coupon-wrapper {
        width: 710px;
        height: 800px;
        #new-coupon {
        	text-align: center;
            height: 40px;
            width: 150px;
            border: 1px solid #E7E7EB;
            .new-btn {}
        }
        #run-coupon {
            #run-title {}
            #run-content-field {}
        }
        #pass-coupon {
            #pass-title {}
            #pass-content-field {}
        }
    }
}
