#food
	.food-wrapper
		#food-single-main.f-block.hide
			.food-single-select-field
				p 品类选择
				.select-container
					select.food-single-select
			.food-single-table				
				.food-single-oper-field
					.oper-container
						#new
							icon.new-icon
							p.new-word 新建
						#edit
							icon.edit-icon
							p.edit-word 修改
						#move
							icon.move-icon
							p.move-word 移动
						#top
							icon.top-icon
							p.top-word 置顶
						#copy
							icon.copy-icon
							p.copy-word 复制
						#show-or-hide
							icon.show-or-hide-icon
							p.show-or-hide-word 售罄
						#remove
							icon.remove-icon
							p.remove-word 删除
						.clear
				.food-single-header-field
					.name-container
						.t-choose
							.choose-pic
						.t-pic
							p 图片
						.t-name
							p 名称
						.t-price
							p 基础价格
						.t-property
							p 属性组
						.t-dc
							p 促销工具
						.t-remark
							p 备注标签
						.clear
				.food-single-list-field
					.single-list-field

		#food-single-new.f-block
			.f-table
				.f-header-field
					.header-wrapper.t-wrapper
						p.header 新建单品
				.f-basic-field.top-bottom-border
					.basic-wrapper.t-wrapper
						.basic-container
							.left-part
								.warn-container
									p.warn 带 * 号的为必填项
								.c-name-container.input-container
									p 单品名称 *
									input(id='c-name' name='c-name')
									.clear
								.e-name-container.input-container
									p 英文名
									input(id='e-name' name='e-name')
									.clear
								.default-price-container.input-container
									p 基础价格 *
									input(id='default-price' name='default-price')
									.clear
								.basic-business-container
									.name-part
										p 基础业务 *
										p 价差
									.choose-part.parallel-container
										#choose-buffet.choose-elem
											.choose-field
												.tick
												p 堂食
											.price-field
												.grey-cover
												input(id='buffet-price' name='buffet-price' placeholder='元')
										#choose-take-out.choose-elem
											.choose-field
												.tick
												p 外带
											.price-field
												.grey-cover
												input(id='take-out-price' name='take-out-price' placeholder='元')
										#choose-delivery.choose-elem
											.choose-field
												.tick
												p 外卖
											.price-field
												.grey-cover
												input(id='delivery-price' name='delivery-price' placeholder='元')
										#choose-combo-only.choose-elem
											.choose-field
												.tick
												p 仅套餐
											.price-field
												.grey-cover
												input(id='combo-only-price' name='combo-only-price' placeholder='元')
										.clear
									.clear
							.right-part
								.pic-field
									label(for='new-pic')
										.img-field
											.img(class='default-square-image')
										.warn-field.total-center
											p 点击上传图片
											p 建议尺寸:
											p 200像素 * 200像素
									input(name='new-pic', id='new-pic' type='file' class='hide')
							.clear
				.f-extra-field
					.extra-wrapper.t-wrapper
						.extra-container
							.property-container
								.left-part
									p 属性组
									#property
								.right-part
									.btn-field
										.btn.manage-property-btn
											p 管理属性组
										.clear
								.clear
							.remark-tag-container
								.left-part
									p 备注标签
								.right-part
									input(id="remark-tag" name="remark-tag" placeholder='最多9个汉字')
								.clear
							.intro-container
								.left-part
									p 详情介绍
								.right-part
									textarea(id="intro" name="intro")
								.clear
				.f-shelves-field
				.f-dc-field
		#food-single-add.f-block.hide
			.f-table
				.f-header-field
				.f-basic-field
				.f-extra-field
				.f-shelves-field
				.f-dc-field
