#food
	.food-wrapper
		#food-single-main.f-block
			.food-single-select-field
				p 品类选择
				.select-container
					select.food-single-select
						option(value="店长推荐") 店长推荐
						option(value="咖啡") 咖啡
						option(value="店长推荐") 蛋糕
			.food-single-table				
				.food-single-oper-field
					.oper-container
						.new 新建
						.edit 修改
						.remove 删除
						.copy 复制
						.move 移动
						.top 置顶
						.show-or-hide 售罄
				.food-single-header-field
				.food-single-list-field
		#food-single-new.f-block
		#food-single-add.f-block
